@media (max-width: 991px){
    html {
        font-size: 55%;
    }

    .header {
        padding: 1.5rem 2rem;
    }

    section {
        padding: 3rem 2rem;
    }

    .btn.absolute {
        position: absolute;
        right: 1rem;
        top: 0;
    }
    
}

@media (max-width: 768px){
    #menu-btn {
        display: inline-block!important;
        margin-right: 3rem;
    }

    .header .navbar {
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        background: #eee;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    .header .navbar.active {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .header .navbar a {
        margin: 2rem!important;
        font-size: 2rem!important;
        display: block!important;
    }

    .home {
        margin-top: 10rem;
    }

    .home .content span {
        font-size: 8vw;
    }
    .home .content h3 {
        font-size: 9vw;
    }

}

@media (max-width: 450px){
    html {
        font-size: 50%;
    }

    .about .content h3 {
        font-size: 3.5rem;
    }

    .banner .content h3 {
        font-size: 2.7rem;
    }
    
}