@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");

/* global css */


* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 9rem;
}

html::-webkit-scrollbar {
    width: 0.5rem;
}

html::-webkit-scrollbar-thumb {
    background: #c89f6b;
}

.heading {
    text-align: center;
    margin-bottom: 2rem;
}

.heading span {
    color: #c89f6b;
    font-size: 2rem;
}

.heading h1 {
    font-size: 4rem;
    color: #000;
}

body {
    background: #f8f9fc;
    overflow-x: hidden;
}

section {
    padding: 3rem 9%;
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1.7rem;
    color: #c89f6b;
    border: 0.2rem solid #c89f6b;
    border-radius: 5rem;
    cursor: pointer;
    background: none;
}

.btn:hover {
    background: #c89f6b;
    color: #f8f9fc;
}

/*---- header -----*/

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1100;
    background: #fff;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-box;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1.5rem 9%;
    box-shadow: 0 1px 6px 0 rgba(32 32 36 / 28%);
}

.header .navbar a {
    font-size: 1.7rem;
    color: #3d3d3d;
    display: inline-block;
    margin: 0 1rem;
}

.header .navbar a:hover {
    color: #c89f6b;
}

.logo {
    font-size: 2.5rem;
    color: #000;
    font-weight: bolder;
}

.logo span {
    color: #c89f6b;
}

#menu-btn {
    font-size: 2.5rem;
    color: #000;
    cursor: pointer;
    display: none;
}

/*---- home -----*/

.home {
    margin: auto;
    margin-top: auto;
    width: 90%;
    border-radius: 1rem;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(17,17,17, 0.7)), to(rgba(17,17,17,0.7))), url(../images/header-bg.jpg) no-repeat;
    background: linear-gradient(rgba(17,17,17, 0.7), rgba(17,17,17, 0.7)), url(../images/header-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 80vh;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 5rem;
}

.home .content {
    text-align: center;
}

.home .content span {
    font-weight: bolder;
    color: transparent;
    -webkit-text-stroke: 0.1rem #fff;
    font-size: 4vw;
    display: block;
}

.home .content h3 {
    font-size: 6vw;
    color: #fff;
}

.home .content p {
    max-width: 60rem;
    margin: 1rem auto;
    font-size: 1.4rem;
    color: #f8f9fc;
    line-height: 2;
    letter-spacing: 1px;
}

/* ----- booking ------*/

.book-form {
    width: 80%;
    margin: 1rem auto;
    margin-top: -5rem;
    background: #eee;
    border-radius: 1rem;
    -webkit-box-shadow: 0 0.5rem rgba(17, 17, 17, 0.3);
    box-shadow: 0 0.5rem rgba(17, 17, 17, 0.3);
    padding: 3rem 2rem;
}

.book-form form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.book-form form .inputBox {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 25rem;
    flex: 1 1 25rem;
}


.book-form form .inputBox span {
    font-size: 1.4rem;
    color: #3d3d3d;
}


.book-form form .inputBox input, .book-form form .inputBox select {
    width: 100%;
    padding: 1.2rem 1.4rem;
    border-radius: 5rem;
    border: 0.2rem solid #c89f6b;
    font-size: 1.6rem;
    text-transform: capitalize;
    background: none;
    margin-top: 1rem;
}

.book-form form .btn {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 15rem;
    flex: 1 1 15rem;
}

/*-- about --*/

.about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 4rem;
    margin-top: 5rem;
}

.about .video-container {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 42rem;
    flex: 1 1 42rem;
}

.about .video-container video {
    border-radius: 1rem;
    width: 100%;
}

.about .content {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 42rem;
    flex: 1 1 42rem;
    margin-bottom: 5rem;
}

.about .content span {
    color: #c89f6b;
    font-size: 2rem;
}

.about .content h3 {
    color: #000;
    font-size: 4rem;
    margin-top: .5rem;
}

.about .content p {
    padding: 1rem 0;
    font-size: 1.4rem;
    color: #3d3d3d;
    line-height: 2;
}

/* ----- services  ----- */

.services .box-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-template-column: (minmax(32rem, 1fr))[auto-fit];
    grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
    gap: 1.5rem;
}

.services .box-container .box {
    background: #fff;
    border-radius: 1rem;
    padding: 3rem;
    text-align: center;
    box-shadow: rgba(17 17 17 / 15%) 0px 0.5rem 1rem;
}

.services .box-container .box:hover {
    transform: scale(1.05);
    background: #fff;
}

.services .box-container .box i {
    font-size: 4rem;
    color: #c89f6b;
    margin-bottom: 2rem;
}

.services .box-container .box h3 {
    font-size: 2rem;
    color: #000;
}

.services .box-container .box p {
    padding: 1rem 0;
    font-size: 1.4rem;
    color: #3d3d3d;
    line-height: 2;
}

/* ---- destination ---- */

.destination .box-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-template-column: (minmax(27rem, 1fr))auto[auto-fit];
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
}

.destination .box-container .box {
    border-radius: 1rem;
    overflow: hidden;
    background: #fff;
    box-shadow: rgba(17 17 17 / 15%) 0px 0.5rem 1rem;
}

.destination .box-container .box:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.destination .box-container .box .image {
    height: 20rem;
    overflow: hidden;
    width: 100%;
}

.destination .box-container .box .image img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.destination .box-container .box .content {
    padding: 2rem;
    color: #000;
}

.destination .box-container .box .content h3 {
    font-size: 2rem;
    color: #000;
}

.destination .box-container .box .content p {
    padding: 1rem 0;
    font-size: 1.4rem;
    color: #3d3d3d;
    line-height: 2;
}

.destination .box-container .box .content a {
    font-size: 1.7rem;
    color: #c89f6b;
}

.destination .box-container .box .content a:hover i {
    padding-left: 1rem;
}

.destination .box-container .box .content a i {
    padding-right: .5rem;
}

/* --- gallery --- */

.gallery .box-container {
    -webkit-columns: 3 25rem;
    columns: 3 25rem;
    -webkit-column-gap: 1.5rem;
    column-gap: 1.5rem;
}

.gallery .box-container .box {
    margin-bottom: 1rem;
    -webkit-column-break-inside: avoid;
    break-inside: avoid;
}

.gallery .box-container .box img {
    width: 100%;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

.gallery .box-container .box span {
    font-size: 1.4rem;
    color: #3d3d3d;
}

.gallery .box-container .box h3 {
    margin-top: .5rem;
    font-size: 2rem;
    color: #000;
}

/*--- reviews ---*/

.reviews {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 4rem;
}

.reviews .content {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 42rem;
    flex: 1 1 42rem;
}

.reviews .content {
    font-size: 2rem;
    color: #c89f6b;
}

.reviews .content h3 {
    font-size: 4rem;
    color: #000;
}

.reviews .content p {
    font-size: 1.4rem;
    color: #3d3d3d;
    padding: 1rem 0;
    line-height: 2;
    letter-spacing: 1px;
}

.reviews .box-container {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 42rem;
    flex: 1 1 42rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.reviews .box-container .box {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 20rem;
    flex: 1 1 20rem;
    border-radius: 1rem;
    padding: 2rem;
    background: #fff;
    box-shadow: rgba(17 17 17 / 15%) 0px 0.5rem 1rem;
}

.reviews .box-container .box p {
    font-size: 1.4rem;
    padding-bottom: 1rem;
    line-height: 2;
    color: #3d3d3d;
}

.reviews .box-container .box .user {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 1rem;
}

.reviews .box-container .box .user img {
    height: 5rem;
    width: 5rem;
    border-radius: 5rem;
}

.reviews .box-container .box .user h3 {
    font-size: 1.7rem;
    color: #000;
}

.reviews .box-container .box .user p {
    font-size: 1.7rem;
    color: #3d3d3d;
}

/*--- banner ---*/

.banner {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(17,17,17, 0.7)), to(rgba(17,17,17,0.7))), url(../images/facts-img.jpg) no-repeat;
    background: linear-gradient(rgba(17,17,17, 0.7), rgba(17,17,17, 0.7)), url(../images/facts-img.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    padding: 3rem 2rem;
    text-align: center;
    background-attachment: fixed;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.banner .content span {
    font-size: 2rem;
    color: #c89f6b;
}

.banner .content h3 {
    font-size: 4rem;
    color: #fff;
    margin-top: 1rem;
}

.banner .content p {
    max-width: 60rem;
    margin: 1rem auto;
    font-size: 1.4rem;
    color: #f8f9fc;
    letter-spacing: 1px;
    line-height: 2;
}

/*--- blog ---*/

.blogs .box-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-template-column: (minmax(32rem, 1fr))[auto-fit];
    grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
    gap: 1.5rem;
    margin-bottom: 5rem;
}

.blogs .box-container .box {
    border-radius: 1rem;
    background: #fff;
    box-shadow: rgba(17 17 17 / 15%) 0px 0.5rem 1rem;
    overflow: hidden;
}

.blogs .box-container .box:hover {
    transform: scale(1.05);
}

.blogs .box-container .box:hover .image img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.blogs .box-container .box .image {
    height: 25rem;
    overflow: hidden;
    width: 100%;
}

.blogs .box-container .box .image img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.blogs .box-container .box .content {
    padding: 2rem;
}

.blogs .box-container .box .content .link {
    font-size: 2rem;
    color: #000;
}

.blogs .box-container .box .content .link:hover {
    color: #c89f6b;
}

.blogs .box-container .box .content p {
    padding: 1rem 0;
    font-size: 1.4rem;
    color: #3d3d3d;
    line-height: 2;
}

.blogs .box-container .box .content .icon {
    padding-top: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.blogs .box-container .box .content .icon a {
    font-size: 1.4rem;
    color: #3d3d3d;
}

.blogs .box-container .box .content .icon a:hover {
    color: #c89f6b;
}

.blogs .box-container .box .content .icon a i {
    padding-right: .5rem;
    color: #c89f6b;
}

/*--- footer ---*/

.footer {
    background: #fff;
    box-shadow: rgba(17 17 17 / 15%) 0px 0.5rem 1rem;
}

.footer .box-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-template-column: (minmax(25rem, 1fr))[auto-fit];
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
}

.footer .box-container .box {
    padding: 1rem 0;
}

.footer .box-container .box .logo {
    padding-bottom: 1rem;
}

.footer .box-container .box h3 {
    font-size: 2.2rem;
    color: #000;
    padding: 1rem 0;
}

.footer .box-container .box p {
    font-size: 1.4rem;
    color: #3d3d3d;
    padding: 1rem 0;
    line-height: 2;
}

.footer .box-container .box p i {
    padding-right: .5rem;
    color: #c89f6b;
}

.footer .box-container .box .share {
    padding-top: 1rem;
}

.footer .box-container .box .share a {
    width: 4.5rem;
    height: 4.5rem;
    line-height: 4rem;
    font-size: 2rem;
    border-radius: 50%;
    font-size: 1.7rem;
    border: 0.2rem solid #c89f6b;
    color: #c89f6b;
    margin-right: .5rem;
    text-align: center;
}

.footer .box-container .box .share a:hover {
    background: #c89f6b;
    color: #f8f9fc;
}

.footer .box-container .box .link {
    font-size: 1.4rem;
    color: #3d3d3d;
    padding: 1rem 0;
    display: block;
}

.footer .box-container .box .link:hover {
    color: #c89f6b;
}

.footer .box-container .box .link i {
    padding-right: .5rem;
    color: #c89f6b;
}

.footer .box-container .box .link:hover i {
    padding-right: 2rem;
}

.footer .box-container .box form .email {
    width: 100%;
    border-radius: 5rem;
    border: 0.2rem solid #c89f6b;
    background: none;
    font-size: 1.5rem;
    text-transform: capitalize;
    color: #3d3d3d;
    margin-bottom: 1rem;
    padding: 1.2rem 1.4rem;
}

.credit {
    background: #242424;
    box-shadow: rgba(17 17 17 / 15%) 0px 0.5rem 1rem;
    text-align: center;
    font-size: 2rem;
    padding: 2rem 1rem;
    color: #f8f9fc;
}

.credit span {
    color: #c89f6b;
}








.logo, .logo span {
    text-transform: uppercase;
}