asgiref==3.4.1
cffi==1.15.0
dj-database-url==1.0.0
Django==4.0
django-cors-headers==3.11.0
django-environ==0.10.0
django-jazzmin==2.6.0
django-mailjet==0.3.1
django-sendgrid-v5==1.2.2
gunicorn==20.1.0
humanfriendly==10.0
psycopg2==2.9.3
psycopg2-binary==2.9.5
pycparser==2.21
sendgrid==6.9.7
sqlparse==0.4.2
stripe==5.2.0
tzdata==2021.5