{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>DTS transport {% block title %} {% endblock %} </title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.css" integrity="sha512-oe8OpYjBaDWPt2VmSFR+qYOdnTjeV9QPLJUeqZyprDEQvQLJ9C5PCFclxwNuvb/GQgQngdCXzKSFltuHD3eCxA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
        <link rel="stylesheet" href="{% static "passenger/css/style.css" %}"/>
        <link rel="stylesheet" href="{% static 'passenger/css/responsive.css' %}" />
        <!--<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet"> -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css" />
        <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
        <link rel="icon" type="image/x-icon" href="{% static 'passenger/images/favicoc.png'%}">
        {% block css_one %}{% endblock%}
        {% block css_two %}{% endblock%}
        {% block css_three %}{% endblock%}
        <style>
            .logo_png {
                width: 200px;
                height: 40px ;
            }
        </style>
    </head>
    <body>
        <!-- header sction -->  
        <header class="header">
            <div id="menu-btn" class="fas fa-bars"></div>
            <a href="/" data-aos="zoom-in-left" data-aos-delay="150" class="logo">
                <!--<img src="{% static 'passenger/images/logo-png.png'%}" class="logo_png" /> -->
                <span>D</span>ts <span>L</span>ux <span>trans</span>port
            </a>
            <nav class="navbar">
                <a href="/#home" data-aos="zoom-in-left" data-aos-delay="150" >Home</a>
                <a href="/#services" data-aos="zoom-in-left" data-aos-delay="450">Services</a>
                <a href="/contact" data-aos="zoom-in-left" data-aos-delay="600">contact us</a>
                {% if user.is_authenticated %}
                <a href="/users/sign-out/" data-aos="zoom-in-left" data-aos-delay="600">log_out</a>
                {% else %}
                <a href="/users/sign-in/" data-aos="zoom-in-left" data-aos-delay="600">login</a>
                {% endif %}
            </nav>

            <a href="/#book-form" class="btn absolute" id="btn" data-aos="zoom-in-left" data-aos-delay="1050"> book now</a>
        </header>
        <!-- header sction ends  -->

        <!-- home section start -->

        <section class="home" id="home">
            <div class="content">
                <span data-aos="fade-up" data-aos-delay="150"> Let's start</span>
                <h3 data-aos="fade-up" data-aos-delay="300"> {% block home_form_one %}Schedule a Ride{% endblock%} </h3>
                <p data-aos="fade-up" data-aos-delay="450"> {% block home_form_two %} Airport Shuttle and Transportation Services {% endblock %} </p>
                <a href="/#book-form" class="btn" data-aos="fade-up" data-aos-delay="600"> {% block home_form_three %} book now {% endblock %} </a>
            </div>
        </section>

        <!-- home sextion ends -->

        {% block content%}{% endblock %}

        <!-- footer starts -->

        <section class="footer">
            <div class="box-container">
                <div class="box">
                    <a href="/" class="logo">
                        
                <!--<img src="{% static 'passenger/images/logo-png.png'%}" class="logo_png" />-->
                <span>D</span>ts <span>L</span>ux <span>trans</span>port</a>
                    <p>
                        DTS Lux Transport Is A Locally Owned, Operated Transportation Service In Austin, Texas. We Provide Exclusive Private Premier Black Car Services With Luxurious Vehicle Options To Give You The Ride That You Deserve
                    </p>
                    <div class="share">
                        <a href="#" class="fab fa-facebook-f"></a>
                        <a href="#" class="fab fa-twitter"></a>
                        <a href="#" class="fab fa-instagram"></a>
                        <a href="#" class="fab fa-linkedin"></a>
                        <a href="#" class="fab fa-whatsapp"></a>
                    </div>
                </div>

                <div class="box">
                    <h3>quick links</h3>
                    <a href="/#home" class="link"><i class="fas fa-arrow-right"></i>home</a>
                    <a href="/privacy" class="link"><i class="fas fa-arrow-right"></i>about us</a>
                    <a href="/#services" class="link"><i class="fas fa-arrow-right"></i>services</a>
                    <a href="/terms_and_conditions" class="link"><i class="fas fa-arrow-right"></i>terms and conditions</a>
                    <a href="#gallery" class="link"><i class="fas fa-arrow-right"></i>gallery</a>
                    <a href="#blogs" class="link"><i class="fas fa-arrow-right"></i>blog</a>
                </div>

                <div class="box">
                    <h3>contact info</h3>
                    <p><i class="fas fa-map"></i> Benin</p>
                    <p><i class="fas fa-phone-alt"></i>+22958522059</p>
                    <p><i class="fas fa-envelope"></i>Ezekielizuchi@gmail.com</p>
                    <p><i class="fas fa-clock"></i> 8:00am - 5:00pm</p>

                </div>

                <div class="box">
                    <h3>newsletter</h3>
                    <p>subscribe for latest update</p>
                    <form action="">
                        <input type="email" name="" id="" placeholder="enter your email..."class="email">
                        <input type="submit" value="subscribe" class="btn">
                    </form>
                </div>
            </div>
        </section>

        <div class="credit">
            coded by <span>eazydev</span> | all rights reserved &copy;2023
        </div>

        <!-- footer ends -->
        <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
        <!--<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>-->
        <script src="{% static 'passenger/map.js'%}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script> 
        <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js" integrity="sha512-lbwH47l/tPXJYG9AcFNoJaTMhGvYWhVM9YI43CT+uteTRRaiLCui8snIgyAN8XWgNjNhCqlAUdzZptso6OCoFQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        {% block script_one %}{% endblock%}
        {% block script_three %}{% endblock%}
        {% block script_two %}{% endblock%}
        <script>
            AOS.init({
                duration: 800,
                offset: 150,
            });
        </script>
        <script src="{% static 'passenger/js/script.js'%}"></script>
    </body>
</html>