{% extends 'home.html'%}
{% load static %}
{% block css_one %}
<style>
    h2.about {
        font-size:3rem;
    }
    .about_div h2{
        text-align: center;
        justify-content: center;
    }
    .about_page {
        text-align: left;
    }
    .about_page p {
        padding: 1rem 0;
        font-size: 1.8rem;
        color: #3d3d3d;
        line-height: 2;
    }
</style>
{% endblock%}

{% block home_form_one %}About Us{% endblock%}

{% block content%}

<section class="about_page">
    <div class="about_div">
        <h2 class="about"> About DTS Lux Transport </h2>
    </div>

<p>
    DTS Lux Transport is a locally owned, operated transportation service in Austin, Texas. We provide exclusive private premier black car services with luxurious vehicle options to give you the ride that you deserve. 
</p>
<p>
    We currently provide services such as Courier services, Private driving, Airport ground transportation services, and Special Events/Occasions driving. Each of our drivers are professionally trained to provide you and our clients with a safe, and best transportation experience.
</p>
<p>
    DTS Lux Transport premier black car provides services for both business and families. We are one of the few transportation services in Texas that provide child car seats. Our number one goal at DTS Lux Transport is your safety and that of your family. 
</p>
<p>
    We are committed in providing the most flexible, reliable, affordable, and best black car services in the Great State of Texas, and anywhere in the country. Your trips start and ends with us, and we look forward to seeing you soon!
</p>
</section>

{% endblock %}