{% extends 'home.html'%}
{% load static %}
{% block css_one %}
<style>
    h2.about {
        font-size:3rem;
    }
    .about_div h2{
        text-align: center;
        justify-content: center;
    }
    .about_page {
        text-align: left;
    }
    .about_page p {
        padding: 1rem 0;
        font-size: 1.6rem;
        color: #3d3d3d;
        line-height: 2;
    }
    p span.bold {
        font-weight: bolder;
    }
</style>
{% endblock%}


{% block home_form_one %}terms of service{% endblock%}


{% block content %}
<section class="about_page">
    <div class="about_div">
        <h2 class="about"> PRIVACY POLICY </h2>
    </div>

<p>
    This policy sets forth our privacy and information sharing practices. We strongly believe in privacy of our clients. We do not ask for your personal information unless we truly need it. Personal data is collected to facilitate the online booking process to ensure an efficient process whenever a client logs on. We Do Not Sell, Rent, or Share any of your personal identifying information such as name, address, phone numbers, email address and credit card data to third parties. To utilize our online booking system, we will also collect your credit card information for the purpose of ONLY COLLECTING a payment. At some point in the future, we my use the information we collect to occasionally notify you about important functionality changes to the website, and special offers. By accessing the services of --dtsaustin.com-- and voluntarily providing us with the requested information, you consent to the collection and use of the information in accordance with this privacy policy.
</p>
<p>
    <span class="bold">SECURITY:</span> Unfortunately, no data transmission over the internet can be considered 100% secure. However, our information is reasonably protected by SSL encryption and security. We contract with well-known and established third party booking and payment processing services that are skilled at securing information from unauthorized access use and disclosure.
</p>

<div class="about_div">
    <h2 class="about"> Terms and conditions </h2>
</div>
<p>
    <span class="bold">RESERVATIONS:</span> Reservations can be made online or by requesting a Quote if outside from our service area.
</p>

<p>
    <span class="bold">PAYMENT:</span> We accept payment by Credit card, Venmo, Zelle, and Cash. Our office will charge the credit card or debit card on file twenty-four &#40;24&#41; hours prior to your scheduled pick-up time. If it declines, we will try to resolve the issue. If unable to resolve issue, then we have the right to terminate service at any time of non-payment.
</p>

<p>
    <span class="bold">LOST/FORGOTTEN ITEMS:</span> DTS is not responsible for items left in our vehicles. Please check for your valuables upon exiting the vehicles. If something is found by our drivers upon trip completion inspection, we will do our best to contact you and return the item. Any cost related to the return or damage of items are the responsibility of the client. Lost and found unclaimed items are kept for only three &#40;3&#41; months before they are disposed of.
</p>
<p>
    <span class="bold">VOMITING AND SPILLING FOOD/DRINKS CLEAN UP FEES: </span>Vomiting/ throwing up puts our vehicle out of the scheduled fleet for through clean up. With this been said we take vomiting very seriously. If anyone in your party REGURGITATES in our vehicles there will be an automatic charge of two hundred-fifty dollars &#40;$250&#41; as a cleaning fee.
</p>
<p>
    <span class="bold">LIABILITY: </span>DTS is not responsible for service delayed or not rendered due to weather or circumstance out of our control. For example, weather conditions, road conditions, traffic congestion, rad light closures, flight delays, and accidents. If we are not able to find another vehicle due to mechanical issues, we will issue a full refund or future credit for use.
</p>
<p>
    <span class="bold">CONSUMPTION OF ALCOHOL: </span>We are NOT a party bus company; we transport professional cliental who prefer a clean and good smelling vehicle. Therefore, if you drink alcohol, please do so responsibly. DTS is not liable for any alcoholic beverages. 
</p>
<p>
    <span class="bold">PROHIBITED SUBSTANCES OR BEHAVIOR: </span>All vehicles are strictly NON-SMOKING, including E-cigarettes, Vapor devices. Smoking will get a hundred percent &#40;100%&#41; charge of the quoted price with a trip termination. No refunds will be made. 
</p>
<p>
    <span class="bold">PASSENGERS UNDER THE AGE OF EIGHTEEN &#40;18&#41; YEARS: </span>If the primary passenger&#40;s&#41; is a minor under the age if eighteen &#40;18&#41; years, reservations must be made by either a parent or legal guardian over the age of eighteen &#40;18&#41; years.
</p>
<p>
    <span class="bold">CHILD SEAT POLICY:</span> DTS strongly recommends children five &#40;5&#41; years and under be secured in a child restraint seat for transportation. It is the caregiver’s responsibility NOT DTS to provide a safety seat. DTS can provide a safety seat for a fee.
</p>
<p>
    <span class="bold">DISPUTES: </span>
    You dispute a charge by contacting DTS management by email. We will do our best to resolve the issue. Should you be dissatisfied with any of services, please email us at --dtsaustin18@gmail.com-- or call and ask for one of the managers, and they will get in touch with you to resolve the issue.
</p>


<div class="about_div">
    <h2 class="about">CANCELLATION POLICY</h2>
</div>

<p>
    <span class="bold">AIRPORT TRIPS RESERVATIONS:</span> Cancellations are hundred percent &#40;100%&#41; refundable in the event of flight cancellation by the airlines or adjust your reservation &#40;ONLY if you provided flight information with your reservation. Otherwise, you will have to notify us five &#40;5&#41; hours prior to your reservation time to avoid full charge hundred percent &#40;100%&#41;.
</p>
<p>
    <span class="bold">BLOCKED HOURLY AND SPECIAL EVENTS RESVERVATIONS: </span>Reservations may be cancelled without charge up to forty-eight &#40;48&#41; hours prior to scheduled pickup time. Reservations canceled within the twenty-four hours &#40;24&#41; of the scheduled pick-up time will be subject to fifty percent &#40;50%&#41; charge. No notification &#40;Forfeiture of fare&#41; or less than twenty-four &#40;24&#41; hours notification are subject to 100% charge. Exceptions are only made due to extreme weather conditions or circumstance ONLY approved by DTS Management. Extending a booking beyond the allocated time will be charged to the hourly rate increment and driver schedule availability.
</p>
<p>
    <span class="bold">POINT TO POINT RESERVATIONS: </span> There is no charge for cancellations made eight &#40;8&#41; hours prior to scheduled pickup time. Reservations canceled within four &#40;4&#41; hours of pick-up time are subject to fifty percent &#40;50%&#41; charge of the quoted price. Exceptions are only made due to extreme weather conditions or circumstance ONLY approved by DTS Management.
</p>
</section>
{% endblock%}





















