{% extends 'home.html'%}
{% load static %}


{% block css_one %}
<link rel='stylesheet' href="{% static 'user_profie.css'%}"

{% endblock%}

{% block content %}

<section class="body">
      <div class="body_container">
        <div class="title">Update Profile </div>
        <div class="content">
          <form action="{%url 'users:edit_profiles'%}" enctype="multipart/form-data" method="post">

            {% if user_form.is_valid  %}
            <div class="alert green">
              Details succefully updated
            </div>

            {% else %}
            <p>
              change your details
            </p>
            {% endif %}

            {% if form.error %}
            <div class="alert">
              Error: please try again
            </div>
            {% endif%}

            {% csrf_token%}
            <div class="user-details">
              <div class="input-box">
                <span class="details">Email</span>
                {{user_form.email}}
              </div>
              <div class="input-box">
                <span class="details">Username</span>
                {{user_form.user_name}}
              </div>
              <div class="input-box">
                <span class="details">first Name </span>
                {{user_form.first_name}}
              </div>
              <div class="input-box">
                <span class="details">Last Name </span>
                {{user_form.last_name}}
              </div>
              <div class="input-box">
                <span class="details">Phone Number</span>
                {{ user_form.phone_number}}
              </div>
              {% if cars.is_driver == '1' %}

              <div class="input-box">
                <span class="details">car name</span>
                {{ user_form.car_name}}
              </div>
              <div class="input-box">
                <span class="details">picture of the car</span>
                {{ user_form.car_image}}
              </div>
              <div class="input-box">
                <span class="details">Number of seats </span>
                {{ user_form.car_seats}}
              </div>
              <div class="input-box">
                <span class="details">number of luggage space </span>
                {{ user_form.car_luggage_space}}
              </div>

              {% endif %}
            </div>
            <div class="button">
              <input type="submit" value="Update">
            </div>
            <div class="input-box">
                <span class="details">Delete Profile <a href="/users/profile/delete/"> click here to delete your account</a></span>
              </div>
          </form>
        </div>
      </div>
    

    
</section>



{% endblock%}