{% extends 'home.html'%}
{% load static %}
{% block css_one %}
<link rel="stylesheet" href="{% static 'passenger/style.css'%}" />
{% endblock %}

{% block css_two %}
<style>
  .check_box {
    height: auto!important;
  }

  .alert {
    display: block;
    font-weight: bolder;
    color: red;
  }
  ul, li {
    list-style: none;
  }
</style>
{% endblock %}



{% block content %}


{% if request.user.is_authenticated %}
    <script>
        window.location.href = '{% url "users:profile" %}';
    </script>
{% endif %}


<div class="sign_up_body">
  <div class="container">
      <input type="checkbox" id="flip">
      <div class="cover">
        <div class="front">
          <img src="{% static 'passenger/images/frontImg.jpg'%}" alt="">
          <div class="text">
            <span class="text-1">Every new friend is a <br> new adventure</span>
            <span class="text-2">Let's get connected</span>
          </div>
        </div>
        <div class="back">
          <img class="backImg" src="{% static 'passenger/images/backImg.jpg' %}" alt="">
          <div class="text">
            <span class="text-1">Complete miles of journey <br> with one step</span>
            <span class="text-2">Let's get started</span>
          </div>
        </div>
      </div>
      <div class="forms">
          <div class="form-content">
            <div class="login-form">
              <div class="title">reset Password </div>
            <form action="{% url "users:pwdreset"%}" id="signinformw" method="POST">
              {% if form.errors %}

            <p>
              Please correct the following errors:
            </p>
            {% for field in form %}
            {% if field.errors %}
            <div class="alert">
              {{field.label}}: {{field.errors|striptags}}
            </div>
            {% endif %}
            {% endfor %}
            <p>
              if the error continues,please contact the admin
            </p>
            {% endif %}
              {% csrf_token %}
              <div class="input-boxes">
                <div class="input-box">
                  <i class="fas fa-envelope"></i>
                  {{form.email}}
                </div>

                <!--<div class="text"><a href="#">Forgot password?</a></div>-->

                <div class="button input-box">
                  <input type="submit" value="Send Email">
                </div>

                <div class="text sign-up-text">Don't have an account? <a href="/users/sign-up/" class="label"> Signup now</a> <!--<label for="flip">Sigup now</label>--></div>
              </div>
              
          </form>
        </div>
        <div class="signup-form">
          </div>
      </div>
      </div>
    </div>
</div>
{% endblock%}