{% extends 'home.html'%}
{% load static %}

{% block content %}

<div class="container">
    {% if request.user.userprofile.has_profile %}
    <table>
      <thead>
        <tr>
          <th>Field</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Address</td>
          <td>
            <address>
              {{request.user.userprofile.address}}<br>
              {{request.user.userprofile.town}}<br>
              {{request.user.userprofile.county}}<br>
              {{request.user.userprofile.post_code}}<br>
            </address>
          </td>      
        </tr>
      </tbody>
    </table>
    </br>
    <label for="id-google-address">Change Address</label>
    {% else %}
    <label for="id-google-address">Add Address</label>
    {% endif %}
  
    <input type="text" placeholder="*Begin typing address" id="id-google-address" name="google_address">
  
  <form id="profileform" method="POST" action="/users/profile/">
      {% csrf_token %}
  
     <label for="address" hidden>Address</label>
     {{form.address}}
  
     <label for="town" hidden>Town/City</label>
     {{form.town}}
  
     <label for="county" hidden>County</label>
     {{form.county}}
  
     <label for="post_code" hidden>Postal Code</label>
     {{form.post_code}}
  
     <label for="country" hidden>Country</label>
     {{form.country}}
  
     <label for="post_code" hidden>Longitude</label>
     {{form.longitude}}
  
     <label for="country"  hidden>Latitude</label>
     {{form.latitude}}
  
  
     <button disabled type="submit" id="profile-btn">Update</button>
  </form>
  
  </div>
  

{% endblock %}
{% block script_one %}
<script src="{% static 'profile.js'%}"></script>

<script type="text/javascript">

    var google_api_key = "{{google_api_key|safe}}";
    var base_country = "{{base_country|safe}}";
  
</script>
  
<script src="{% static 'google_places.js' %}"></script>
{%endblock%}