{% extends 'home.html'%}
{% load static %}
{% block css_one %}
<link rel="stylesheet" href="{% static 'passenger/style.css'%}" />
{% endblock %}
{% block content %}


<div class="sign_up_body">
  <div class="container">
      <input type="checkbox" id="flip">
      <div class="cover">
        <div class="front">
          <img src="{% static 'passenger/images/frontImg.jpg'%}" alt="">
          <div class="text">
            <span class="text-1">Every new friend is a <br> new adventure</span>
            <span class="text-2">Let's get connected</span>
          </div>
        </div>
        <div class="back">
          <img class="backImg" src="{% static 'passenger/images/backImg.jpg' %}" alt="">
          <div class="text">
            <span class="text-1">Complete miles of journey <br> with one step</span>
            <span class="text-2">Let's get started</span>
          </div>
        </div>
      </div>
      <div class="forms">
          <div class="form-content">
            <div class="login-form">
              <div class="title">Login</div>
            <form action="/users/sign-in/" id="signinform" method="POST">
              {% csrf_token %}
              <div class="input-boxes">
                <div class="input-box">
                  <i class="fas fa-envelope"></i>
                  {{form.username}}
                </div>
                <div class="input-box">
                  <i class="fas fa-lock"></i>
                  {{form.password}}
                </div>
                <label class="check-container text">Show Passwords
                  <input type="checkbox" onclick="showPword()">
                  <span class="checkmark"></span>
                </label>

                <div class="text"><a href="#">Forgot password?</a></div>

                <div class="button input-box">
                  <input type="submit" value="Submit">
                </div>

                <div class="text sign-up-text">Don't have an account? <a href="/users/sign-up/" class="label"> Signup now</a> <!--<label for="flip">Sigup now</label>--></div>
              </div>
              
          </form>
        </div>
        <div class="signup-form">
          </div>
      </div>
      </div>
    </div>
</div>

<script type="text/javascript">
  // Create a variable that can be used in main.js
  var recaptcha_site_key = '{{recaptcha_site_key|safe}}'
</script>
{% endblock%}