<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Travel</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    
        <link rel="stylesheet" href="static/css/style.css"/>
        <!--<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet"> -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css" />
        <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
        <link rel="stylesheet" href="static/css/contact.css">
    </head>
<body>
    <!-- header sction -->  
    <header class="header">
        <div id="menu-btn" class="fas fa-bars"></div>
        <a href="http://" data-aos="zoom-in-left" data-aos-delay="150" class="logo">
            <span>D</span>ts <span>L</span>ux <span>trans</span>port
        </a>
        <nav class="navbar">
            <a href="#home" data-aos="zoom-in-left" data-aos-delay="150" >Home</a>
            <a href="#about" data-aos="zoom-in-left" data-aos-delay="300">About us</a>
            <a href="#services" data-aos="zoom-in-left" data-aos-delay="450">Services</a>
            <a href="#destination" data-aos="zoom-in-left" data-aos-delay="600">destination</a>
            <a href="#gallery" data-aos="zoom-in-left" data-aos-delay="750">gallery</a>
            <a href="#blogs" data-aos="zoom-in-left" data-aos-delay="900">blog</a>
        </nav>

        <a href="#book-form" class="btn" data-aos="zoom-in-left" data-aos-delay="1050"> book now</a>
    </header>
    <!-- header sction ends  -->

    <!-- home section start -->

    <section class="home" id="home">
        <div class="content">
            <span data-aos="fade-up" data-aos-delay="150"> Let's start</span>
            <h3 data-aos="fade-up" data-aos-delay="300">Schedule a Ride </h3>
            <p data-aos="fade-up" data-aos-delay="450"> Airport Shuttle and Transportation Services</p>
            <a href="index.html#book-form" class="btn" data-aos="fade-up" data-aos-delay="600"> book now</a>
        </div>
    </section>

    <!-- home sextion ends -->

    <section class="about" id="about">
        <div class="video-container" data-aos="fade-right" data-aos-delay="200">
            <div class="content">
                <span>Info</span>
                <p class="p">
                    <a href="mailto:ezekielizuchi@gmail.com?subject=New%20Email%20From%20DTS%20Contact" class="">Ezekielizuchi@gmail.com</a>
                    <a href="tel:+22958522059" class="">+22958522059</a>
                </p>
                <span>follow us</span>
                <div class="share">
                    <a href="#" class="fab fa-facebook-f"></a>
                    <a href="#" class="fab fa-twitter"></a>
                    <a href="#" class="fab fa-instagram"></a>
                    <a href="#" class="fab fa-linkedin"></a>
                    <a href="#" class="fab fa-whatsapp"></a>
                </div>
            </div>
        </div>
        <div class="content" data-aos="fade-left" data-aos-delay="400">
            <span>contact us</span>
            <h3>Ask us anything.</h3>
            <form action="">
                <div class="inputBox">
                    <input type="text" placeholder="Your name" />
                </div>
                <div class="inputBox">
                    <input type="email" placeholder="Your email...">
                </div>
                <div class="inputBox">
                    <textarea name="" id="" placeholder="Your message ...."></textarea>
                </div>
                <input type="submit" value="submit" class="btn">
            </form>
        </div>
    </section>

     <!-- footer starts -->

     <section class="footer">
        <div class="box-container">
            <div class="box">
                <a href="#" class="logo"><span>D</span>ts <span>L</span>ux <span>trans</span>port</a>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos officiis, ipsum rem maxime accusantium tempora iusto nemo alias ut nihil?</p>
                <div class="share">
                    <a href="#" class="fab fa-facebook-f"></a>
                    <a href="#" class="fab fa-twitter"></a>
                    <a href="#" class="fab fa-instagram"></a>
                    <a href="#" class="fab fa-linkedin"></a>
                    <a href="#" class="fab fa-whatsapp"></a>
                </div>
            </div>

            <div class="box">
                <h3>quick links</h3>
                <a href="#home" class="link"><i class="fas fa-arrow-right"></i>home</a>
                <a href="#about" class="link"><i class="fas fa-arrow-right"></i>about us</a>
                <a href="#services" class="link"><i class="fas fa-arrow-right"></i>services</a>
                <a href="#destination" class="link"><i class="fas fa-arrow-right"></i>destination</a>
                <a href="#gallery" class="link"><i class="fas fa-arrow-right"></i>gallery</a>
                <a href="#blogs" class="link"><i class="fas fa-arrow-right"></i>blog</a>
            </div>

            <div class="box">
                <h3>contact info</h3>
                <p><i class="fas fa-map"></i> Benin</p>
                <p><i class="fas fa-phone-alt"></i>+22958522059</p>
                <p><i class="fas fa-envelope"></i>Ezekielizuchi@gmail.com</p>
                <p><i class="fas fa-clock"></i> 8:00am - 5:00pm</p>

            </div>

            <div class="box">
                <h3>newsletter</h3>
                <p>subscribe for latest update</p>
                <form action="">
                    <input type="email" name="" id="" placeholder="enter your email..."class="email">
                    <input type="submit" value="subscribe" class="btn">
                </form>
            </div>
        </div>
    </section>

    <div class="credit">
        coded by <span>eazydev</span> | all rights reserved &copy;2023
    </div>

    <!-- footer ends -->
    <script src="/static/js/script.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script>
        AOS.init({
            duration: 800,
            offset: 150,
        });
    </script>
</body>
</html>