{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DTS Luxury|Home</title>
    <link rel="stylesheet" type="text/css" href="{% static 'passenger/home.css' %}">
</head>
<body>
    <header>
        <h2>DTS Luxury Transport</h2>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Login</a></li>
            <li><a href="#">Register</a></li>
        </ul>
    </header>
    <section class="hero">
        <div>Welcome to DTS Luxury Transport</div>
    </section>
    
</body>
</html>