{% extends "home.html" %}
{% load static %}

{% block title%} Home {%endblock%}

{% block content %}
<!-- booking section -->

<section class="book-form reviews" id="book-form">
    {% if messages %}
        {% for message in messages %}
            <h3>{{message}}</h3>
        {% endfor %}
    {%endif%}
    <div class="box-container">
        <form action="/" id="home_form_add" method='POST'>
            {% csrf_token %}
            <div class="inputBox" data-aos="zoom-in" data-aos-delay="150">
                <span>service details ...</span>
                <select id="cars" name="service_details">
                    <option value="">...</option>
                    <option value="Airport_Dropoff">Airport Dropoff</option>
                    <option value="Airport_pickup">Airport Pickup</option>
                    <option value="point_to_point">point to point</option>
                    <option value="hourly">Hourly</option>
                    <option value="Special_occassion">Special Occassion</option>
                </select>
                <!--<input type="text" placeholder="destination" /> -->
            </div>
            <div class="inputBox" data-aos="zoom-in" data-aos-delay="300">
                <span>Pick Up Date</span>
                <input type="date" name="pick_up_date" />
            </div>
            <div class="inputBox" data-aos="zoom-in" data-aos-delay="450">
                <span>Pick Up time</span>
                <input type="time" required name="pick_up_time"/>
            </div>
            <div class="inputBox" data-aos="zoom-in" data-aos-delay="600">
                <span>Number of passenger</span>
                <input type="number" max="7" name="number_of_passenger"/>
            </div>
            <div class="inputBox" data-aos="zoom-in" data-aos-delay="600">
                <span>Number of luggages </span>
                <input type="number" max="6" name="number_of_luggages"/>
            </div>
            <div class="inputBox" data-aos="zoom-in" data-aos-delay="750">
                <span> Pick Up address </span>
                <input type="text" placeholder="Your current location" id="id-google-address-a" name="google_address_a" />
            </div>

            <div class="inputBox" data-aos="zoom-in" data-aos-delay="750">
                <span> Way point 1</span>
                <input type="text" placeholder="Do you have any stop?" id="id-google-address-c" name="google_address_c">
            </div>
            <div class="inputBox" data-aos="zoom-in" data-aos-delay="750">
                <span> Way point 2 </span>
                <input type="text" placeholder="Any other stops?" id="id-google-address-d" name="google_address_d">
            </div>
            <div class="inputBox" data-aos="zoom-in" data-aos-delay="750">
                <span> Dropoff address </span>
                <input type="text" placeholder="destination" id="id-google-address-b" name="google_address_b"/>
            </div>

            <input type="hidden" class="geo" id="id-lat-a" value="">
            <input type="hidden" class="geo" id="id-long-a" value="">
            <input type="hidden" class="geo" id="id-lat-b" value="">
            <input type="hidden" class="geo" id="id-long-b" value="">
            <input type="hidden" class="geo" id="id-lat-c" value="">
            <input type="hidden" class="geo" id="id-long-c" value="">
            <input type="hidden" class="geo" id="id-lat-d" value="">
            <input type="hidden" class="geo" id="id-long-d" value="">

            <div class="inputBox" data-aos="zoom-in" data-aos-delay="750">
                <span>Airline</span>
                <input type="text" name="airline" placeholder="Airline" />
            </div>
            <div class="inputBox" data-aos="zoom-in" data-aos-delay="750">
                <span>flight number</span>
                <input type="number" name="flight_number" placeholder="Flight number" />
            </div>
            <input type="submit" value="check pricing" data-aos="zoom-in" data-aos-delay="900" id="btn" class="btn">
        </form>
    </div>
    <div class="content">
        <div class="map-container" style="width: 100%;height: 100%;">

            <div id="map-route" style="width: 100%;height: 100%;"></div>
         
         
         </div>
    </div>
</section>

<!-- booking section ends-->

<!-- about starts -->

<section class="about" id="about">
    <div class="video-container" data-aos="fade-right" data-aos-delay="200">
        <video src="static/Ainbo (2021) (NetNaija.com).mp4" muted autoplay loop class="video"></video>
    </div>
    <div class="content" data-aos="fade-left" data-aos-delay="400">
        <span>who we are?</span>
        <h3>A smiling agent for you </h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem adipisci beatae nobis amet eos illo?</p>
        <a href="#" class="btn"> read more</a>
    </div>
</section>

<!-- about ends -->
<!-- service starts-->

<section class="services" id="services">
    <div class="heading">
        <span> our services </span>
        <h1>cost effective</h1>
    </div>

    <div class="box-container">
        <div class="box" data-aos="zoom-in-up" data-aos-delay="150">
            <i class="fas fa-globe"></i>
            <h3> at your door step </h3>
            <p>Near On-Demand or well in advance, we provide service at over 100 airports and 5000+ cities across the US. From the east coast to the west coast </p>
        </div>
        <div class="box" data-aos="zoom-in-up" data-aos-delay="300">
            <!--<i class="fas fa-hiking"></i>-->
            <i class="fas fa-shield-virus"></i>
            <h3> Accountability </h3>
            <p>We take full responsability of your comfort and your experience with us.</p>
        </div>
        <div class="box" data-aos="zoom-in-up" data-aos-delay="450">
            <!--<i class="fas fa-utensils"></i>-->
            <i class="fas fa-heart-broken"></i>
            <h3>Safety First</h3>
            <p>We focus on safety and we make sure that you are always in good hands.</p>
        </div>
        <div class="box" data-aos="zoom-in-up" data-aos-delay="600">
            <i class="fas fa-clock"></i>
            <h3> We Value Time</h3>
            <p>We value your time and we show respect to your valuable schedule.</p>
        </div>
        <div class="box" data-aos="zoom-in-up" data-aos-delay="750">
            <i class="fas fa-wallet"></i>
            <h3> affordable price</h3>
            <p>You don’t have to break the wallet to have an extraordinary travel experience. No hidden fees and always the best deal.</p>
        </div>
        <div class="box" data-aos="zoom-in-up" data-aos-delay="900">
            <i class="fas fa-headset"></i>
            <h3> 24/7 support </h3>
            <p>you can get help and find answers to questions as soon as they come up—24/7 and in real-time</p>
        </div>
    </div>
</section>

<!-- service ends-->

    <!-- destination starts -->

    <section class="destination" id="destination">
        <div class="heading">
            <span> our destination </span>
            <h1>keep looking up</h1>
        </div>

        <div class="box-container">
            <div class="box" data-aos="flip-up" data-aos-delay="150">
                <div class="image">
                    <img src="{% static "passenger/images/featured-berlin-germany.jpg"%}" alt="" />
                </div>
                <div class="content">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed commodi laudantium necessitatibus distinctio.</p>
                    <a href="#">read more <i class="fas fa-angle-right"></i></a>
                </div>
            </div>
            <div class="box" data-aos="flip-up" data-aos-delay="300">
                <div class="image">
                    <img src="{% static "passenger/images/featured-fuvahmulah-maldives.jpg"%}" alt="" />
                </div>
                <div class="content">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed commodi laudantium necessitatibus distinctio.</p>
                    <a href="#">read more <i class="fas fa-angle-right"></i></a>
                </div>
            </div>
            <div class="box" data-aos="flip-up" data-aos-delay="450">
                <div class="image">
                    <img src="{% static "passenger/images/featured-khwaeng-wat-arun-thailand.jpg"%}" alt="" />
                </div>
                <div class="content">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed commodi laudantium necessitatibus distinctio.</p>
                    <a href="#">read more <i class="fas fa-angle-right"></i></a>
                </div>
            </div>
            <div class="box" data-aos="flip-up" data-aos-delay="600">
                <div class="image">
                    <img src="{% static "passenger/images/featured-north-bondi-australia.jpg"%}" alt="" />
                </div>
                <div class="content">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed commodi laudantium necessitatibus distinctio.</p>
                    <a href="#">read more <i class="fas fa-angle-right"></i></a>
                </div>
            </div>
            <div class="box" data-aos="flip-up" data-aos-delay="750">
                <div class="image">
                    <img src="{% static 'passenger/images/featured-reo-de-janeiro-brazil.jpg'%}" alt="" />
                </div>
                <div class="content">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed commodi laudantium necessitatibus distinctio.</p>
                    <a href="#">read more <i class="fas fa-angle-right"></i></a>
                </div>
            </div>
            <div class="box" data-aos="flip-up" data-aos-delay="900">
                <div class="image">
                    <img src="{% static 'passenger/images/featured-rome-italy.jpg'%}" alt="" />
                </div>
                <div class="content">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed commodi laudantium necessitatibus distinctio.</p>
                    <a href="#">read more <i class="fas fa-angle-right"></i></a>
                </div>
            </div>
            <div class="box" data-aos="flip-up" data-aos-delay="1050">
                <div class="image">
                    <img src="{% static 'passenger/images/facts-img.jpg'%}" alt="" />
                </div>
                <div class="content">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed commodi laudantium necessitatibus distinctio.</p>
                    <a href="#">read more <i class="fas fa-angle-right"></i></a>
                </div>
            </div>
            <div class="box" data-aos="flip-up" data-aos-delay="1200">
                <div class="image">
                    <img src="{% static 'passenger/images/test-1.jpg'%}" alt="" />
                </div>
                <div class="content">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed commodi laudantium necessitatibus distinctio.</p>
                    <a href="#">read more <i class="fas fa-angle-right"></i></a>
                </div>
            </div>
        </div>

    </section>

    <!-- destination ends -->

    <!-- gallery starts -->

    <section class="gallery" id="gallery">
        <div class="heading">
            <span> our gallery </span>
            <h1>memories lasts forever </h1>
        </div>

        <div class="box-container">
            <div class="box" data-aos="zoom-in-down" data-aos-delay="200">
                <img src="{% static 'passenger/images/gallery-1.jpg'%}" alt="">
                <span> travel spot</span>
                <h3> green land</h3>
            </div>
            <div class="box" data-aos="zoom-in-down" data-aos-delay="400">
                <img src="{% static 'passenger/images/gallery-2.jpg'%}"  alt="">
                <span> travel spot</span>
                <h3> ice land</h3>
            </div>
            <div class="box" data-aos="zoom-in-down" data-aos-delay="600">
                <img src="{% static 'passenger/images/gallery-3.jpg'%}" alt="">
                <span> travel spot</span>
                <h3> thi land</h3>
            </div>
            <div class="box" data-aos="zoom-in-down" data-aos-delay="800">
                <img src="{% static 'passenger/images/gallery-4.jpg'%}"  alt="">
                <span> travel spot</span>
                <h3> misdive</h3>
            </div>
            <div class="box" data-aos="zoom-in-down" data-aos-delay="1000">
                <img src="{% static 'passenger/images/gallery-5.jpg'%}"  alt="">
                <span> travel spot</span>
                <h3> france </h3>
            </div>
            <div class="box" data-aos="zoom-in-down" data-aos-delay="1200">
                <img src="{% static 'passenger/images/gallery-6.jpg'%}"  alt="">
                <span> travel spot</span>
                <h3> england</h3>
            </div>
            <div class="box" data-aos="zoom-in-down" data-aos-delay="1400">
                <img src="{% static 'passenger/images/gallery-7.jpg'%}"  alt="">
                <span> travel spot</span>
                <h3> london</h3>
            </div>
            <div class="box" data-aos="zoom-in-down" data-aos-delay="1400">
                <img src="{% static 'passenger/images/gallery-8.jpg'%}"  alt="">
                <span> travel spot</span>
                <h3> dubai</h3>
            </div>
            <div class="box" data-aos="zoom-in-down" data-aos-delay="1400">
                <img src="{% static 'passenger/images/gallery-8.jpg'%}"  alt="">
                <span> travel spot</span>
                <h3> dubai</h3>
            </div>
        </div>

    </section>

<!-- gallery ends-->

    <!-- reviews page-->

    <section class="reviews" id="reviews">
        <div class="box-container">
            <div class="box">
                <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque numquam qui, delectus incidunt consectetur illum.</p>
                <div class="user">
                    <img src="{% static 'passenger/images/blog-4.jpg'%}" alt="">
                    <div class="info">
                        <h3>Ezekiel Obiajulu</h3>
                        <span>designer</span>
                    </div>
                </div>
            </div>
            <div class="box">
                <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque numquam qui, delectus incidunt consectetur illum.</p>
                <div class="user">
                    <img src="{% static 'passenger/images/blog-1.jpg'%}" alt="">
                    <div class="info">
                        <h3>Ezekiel Obiajulu</h3>
                        <span>designer</span>
                    </div>
                </div>
            </div>
            <div class="box">
                <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque numquam qui, delectus incidunt consectetur illum.</p>
                <div class="user">
                    <img src="{% static 'passenger/images/blog-2.jpg'%}" alt="">
                    <div class="info">
                        <h3>Ezekiel Obiajulu</h3>
                        <span>designer</span>
                    </div>
                </div>
            </div>
            <div class="box">
                <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque numquam qui, delectus incidunt consectetur illum.</p>
                <div class="user">
                    <img src="{% static 'passenger/images/blog-3.jpg'%}" alt="">
                    <div class="info">
                        <h3>Ezekiel Obiajulu</h3>
                        <span>designer</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="content">
            <span>testimonials</span>
            <h3>good news from our clients</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, dolorum voluptates facere doloremque alias illo explicabo perspiciatis quasi expedita cum! Eum laudantium magni atque obcaecati!</p>
        </div>


    </section>

    <!-- review stop-->

    <!-- banner img section -->

    <div class="banner">
        <div class="content">
            <span>start your adventure </span>
            <h3> let's explore the world with us </h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum sit vero similique dolores perspiciatis quam!</p>
            <a href="#book-form" class="btn"> book now</a>
        </div>
    </div>

    <!-- banner img ends -->

        <!-- blog section start -->

        <section class="blogs" id="blogs">
            <div class="heading">
                <span> blogs and posts </span>
                <h1>clients experience in words </h1>
            </div>
    
            <div class="box-container">
                <div class="box">
                    <div class="image">
                        <img src="{% static 'passenger/images/blog-1.jpg'%}" alt="">
                    </div>
                    <div class="content">
                        <a href="#" class="link">one mile at a time </a>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates facere dicta consectetur quasi quae? Id tenetur quis vitae quod fugit?</p>
                        <div class="icon">
                            <a href="#"><i class="fas fa-clock"></i> 28th feb 2019</a>
                            <a href="#"><i class="fas fa-user"></i> by Admin</a>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="image">
                        <img src="{% static 'passenger/images/blog-2.jpg'%}" alt="">
                    </div>
                    <div class="content">
                        <a href="#" class="link">local adventure</a>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates facere dicta consectetur quasi quae? Id tenetur quis vitae quod fugit?</p>
                        <div class="icon">
                            <a href="#"><i class="fas fa-clock"></i> 28th feb 2019</a>
                            <a href="#"><i class="fas fa-user"></i> by Admin</a>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="image">
                        <img src="{% static 'passenger/images/blog-3.jpg'%}" alt="">
                    </div>
                    <div class="content">
                        <a href="#" class="link">first abroad</a>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates facere dicta consectetur quasi quae? Id tenetur quis vitae quod fugit?</p>
                        <div class="icon">
                            <a href="#"><i class="fas fa-clock"></i> 28th feb 2019</a>
                            <a href="#"><i class="fas fa-user"></i> by Admin</a>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="image">
                        <img src="{% static 'passenger/images/blog-4.jpg'%}" alt="">
                    </div>
                    <div class="content">
                        <a href="#" class="link">one mile at a time </a>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates facere dicta consectetur quasi quae? Id tenetur quis vitae quod fugit?</p>
                        <div class="icon">
                            <a href="#"><i class="fas fa-clock"></i> 28th feb 2019</a>
                            <a href="#"><i class="fas fa-user"></i> by Admin</a>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="image">
                        <img src="{% static 'passenger/images/blog-5.jpg'%}" alt="">
                    </div>
                    <div class="content">
                        <a href="#" class="link">one mile at a time </a>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates facere dicta consectetur quasi quae? Id tenetur quis vitae quod fugit?</p>
                        <div class="icon">
                            <a href="#"><i class="fas fa-clock"></i> 28th feb 2019</a>
                            <a href="#"><i class="fas fa-user"></i> by Admin</a>
                        </div>
                    </div>
                </div>
            </div>
    
        </section>
    
        <!-- blog scetion ends -->
{% endblock %}

{% block script_three %}


    <script type="text/javascript">

      var google_api_key = "{{google_api_key|safe}}";
      var base_country = "{{base_country|safe}}";

    </script>

  <script src="{% static 'index.js' %}"></script>


{% endblock %}