{% extends "home.html" %}
{% load static %}

{% block title%} Home {%endblock%}
{% block css_one%}

<style>
    .pick {
        position: absolute;
        bottom: 0;
        right: 0;
    }
    .home_box {
        position: relative;
    }


    .none {
        flex: none!important;
        width: 18.5%;
    }
    .none_h {
        flex: none!important;
        width: 100%;
        text-align: center;
    }
    .none_h select {
        text-align: center;
    }
</style>

{% endblock %}

{% block content %}

<script>
   
    $(document).ready(function(){
        $(".p_add").hide();
        $(".d_air").hide();
        $(".air_l").hide();
        $(".fli_no").hide();
        $(".p_air").hide();
        $(".d_add").hide();
        $(".hrs").hide();
        $(".pt_2").hide();
        $(".pt_3").hide();
        $(".other_form").hide();
        //$(".p_air").hide(); show_pt3
    $(".show").click(function(){
        $('.other_form').show();
        if ($('#cars').val()=="Airport_Dropoff") {

            $(".p_add").show();
            $(".p_add input").prop('required', true);
            $(".d_air").show();
            $(".d_air input").prop('required', true);
            $(".air_l").show();
            $(".air_l input").prop('required', true);
            $(".fli_no" ).show();
            $(".fli_no input").prop('required', true);

            $(".p_air").hide();
            $(".p_air input").prop('required', false);
            $(".d_add").hide();
            $(".d_add input").prop('required', false);
            $(".hrs").hide();
            $(".hrs input").prop('required', false);
            $(".hrs option").val() = '0';

            $("#distance").prop('required', false);

        }
        if ($('#cars').val()=="Airport_pickup") {


            $(".d_add").show();
            $(".p_air").show();
            $(".fli_no").show();
            $(".air_l").show();
            
            
            
            $(".fli_no input").prop('required', true);
            $(".p_air input").prop('required', true);
            $(".d_add input").prop('required', true);
            $(".air_l input").prop('required', true);

            $(".d_air").hide();
            $(".p_add").hide();
            $(".hrs").hide();

            $(".d_air input").prop('required', false);
            $(".p_add input").prop('required', false);
            $(".hrs input").prop('required', false);
            $("#distance").prop('required', false);


            $(".hrs").val() = 0;

        }
        if ($('#cars').val()=="point_to_point") {

            $(".p_add").show();
            $(".d_add").show();

            $(".p_add input").prop('required', true);
            $(".d_add input").prop('required', true);

            $(".air_l input").prop('required', false);
            $(".fli_no input").prop('required', false);
            $(".d_air input").prop('required', false);
            $(".p_air input").prop('required', false);
            $(".hrs input").prop('required', false);
            
            
            $(".air_l").hide();
            $(".fli_no").hide();
            $(".d_air").hide();
            $(".p_air").hide();
            $(".hrs").hide();
            $(".hrs").val() = 0;

        }
        if ($('#cars').val()=="hourly") {

            $(".hrs").show();
            $(".p_add").show();
            $(".d_add").show();
            // no stops

            
            $(".hrs input").prop('required', true);
            $(".p_add input").prop('required', true);
            $(".d_add input").prop('required', true);
            

            $(".d_air input").prop('required', false);
            $(".air_l input").prop('required', false);
            $(".fli_no input").prop('required', false);
            $(".p_air input").prop('required', false);


            $(".d_air").hide();
            $(".air_l").hide();
            $(".fli_no").hide();
            $(".p_air").hide();

        }
        if ($('#cars').val()=="Special_occassion") {

            $(".hrs").show();
            $(".p_add").show();
            $(".d_add").show();
            
            $(".hrs input").prop('required', true);
            $(".p_add input").prop('required', true);
            $(".d_add input").prop('required', true);


            $(".d_air input").prop('required', false);
            $(".air_l input").prop('required', false);
            $(".fli_no input").prop('required', false);
            $(".p_air input").prop('required', false);
            
            $(".d_air").hide();
            $(".air_l").hide();
            $(".fli_no").hide();
            $(".p_air").hide();

        }
      
    });
    $(".show_pt2").click(function(){
        $('.pt_2').show();

    })
    $(".show_pt3").click(function(){
        $(".pt_3").show();

    })
   });
</script>

<!-- booking section -->

<section class="book-form" id="book-form"> <!-- add reviews as class when you are putting .box-container -->
    {% if messages %}
        {% for message in messages %}
            <h3>{{message}}</h3>
        {% endfor %}
    {%endif%}
    <h4>
        Book a trip or request a quote by filling out the form below.
    </h4>
    <!--<div class="box-container">
        
    </div>
    <div class="content">
        <div class="map-container" style="width: 100%;height: 100%;">

            <div id="map-route" style="width: 100%;height: 100%;"></div>
         
         
         </div>
    </div>-->
    <form action="{% url 'home' %}" id="home_form_add" method='POST'>
        {% csrf_token %}
        <div class="inputBox none_h" daos="zoom-in" daos-delay="150">
            <span>service details ...</span>
            <select id="cars" name="service_details" required>
                <option disabled selected value >-- select service --</option>
                <option value="Airport_Dropoff">Airport Dropoff</option>
                <option value="Airport_pickup">Airport Pickup</option>
                <option value="point_to_point">point to point</option>
                <option value="hourly">Hourly</option>
                <option value="Special_occassion">Special Occassion</option>
            </select>
            <!--<input type="text" placeholder="destination" /> -->
        </div>
        <div class="inputBox none" daos="zoom-in" daos-delay="300" >
            <span>Pick Up Date</span>
            <input type="date" name="pick_up_date" required />
        </div>
        <div class="inputBox none" daos="zoom-in" daos-delay="450">
            <span>Pick Up time</span>
            <select id="" name="pick_up_time_hour" required>
                <option disabled selected value> -- select time &#40;hour&#41; -- </option>
                <option value="12am">12am</option>
                <option value="1am"> 1am</option>
                <option value="2am"> 2am</option>
                <option value="3am"> 3am</option>
                <option value="4am"> 4am</option>
                <option value="5am"> 5am</option>
                <option value="6am"> 6am</option>
                <option value="7am"> 7am</option>
                <option value="8am"> 8am</option>
                <option value="9am"> 9am</option>
                <option value="10am">10am</option>
                <option value="11am">11am</option>
                <option value="12pm">12pm</option>
                <option value="1pm"> 1pm</option>
                <option value="2pm"> 2pm</option>
                <option value="3pm"> 3pm</option>
                <option value="4pm"> 4pm</option>
                <option value="5pm"> 5pm</option>
                <option value="6pm"> 6pm</option>
                <option value="7pm"> 7pm</option>
                <option value="8pm"> 8pm</option>
                <option value="9pm"> 9pm</option>
                <option value="10pm">10pm</option>
                <option value="11pm">11pm</option>
            </select>
            <!-- <input type="time" required name="pick_up_time"/>-->
        </div>
        <div class="inputBox none" daos="zoom-in" daos-delay="450">
            <span>Pick Up time</span>
            <select id="" name="pick_up_time_mins" required >
                <option disabled selected value> -- select time &#40;mins&#41; -- </option>
                <option value="00">00mins</option>
                <option value="15">15mins</option>
                <option value="30">30mins</option>
                <option value="45">45mins</option>
            </select>
            <!-- <input type="time" required name="pick_up_time"/>-->
        </div>
        <div class="inputBox none" daos="zoom-in" daos-delay="600">
            <span>Number of passenger</span>
            <input type="number" max="7" name="number_of_passenger" required/>
        </div>
        
        <div class="inputBox none" daos="zoom-in" daos-delay="600">
            <span>Number of luggages </span>
            <input type="number" max="6" min="1" name="number_of_luggages" required/>
        </div>
        <p class="p_btn"><a aria-disabled="true" class="show sub_btn"> proceed </a></p>



            <div class="inputBox p_add" daos="zoom-in" daos-delay="750">
                <span> Pick Up address </span>
                <input type="text" placeholder="Your current location" id="from" name="google_address_a" />
            </div>
    
            <div class="inputBox d_air" daos="zoom-in" daos-delay="750">
                <span>drop off Airport </span>
                <input type="text" placeholder="Airline" id="" name="dropoff_airport" />
            </div>
            <div class="inputBox p_air" daos="zoom-in" daos-delay="750">
                <span>Pickup Airport </span>
                <input type="text" placeholder="Airline" id="" name="pickup_airport" />
            </div>
    
            <div class="inputBox hrs" daos="zoom-in" daos-delay="450">
                <span>hours</span>
                <select id="" name="work_hour" >
                    <option disabled selected value='0'> -- select working &#40;hours&#41; -- </option>
                    <option value="1"> 1hr</option>
                    <option value="2"> 2hrs</option>
                    <option value="3"> 3hrs</option>
                    <option value="4"> 4hrs</option>
                    <option value="5"> 5hrs</option>
                    <option value="6"> 6hrs</option>
                    <option value="7"> 7hrs</option>
                    <option value="8"> 8hrs</option>
                    <option value="9"> 9hrs</option>
                    <option value="10"> 10hrs</option>
                    <option value="11">11hrs</option>
                    <option value="12">12hrs</option>
                    <option value="13">13hrs</option>
                    <option value="14"> 14hrs</option>
                    <option value="15"> 15hrs</option>
                    <option value="16"> 16hrs </option>
                    <option value="17"> 17hrs</option>
                    <option value="18"> 18hrs</option>
                    <option value="19"> 19hrs</option>
                    <option value="20"> 20hrs</option>
                    <option value="21"> 21hrs</option>
                    <option value="22"> 22hrs</option>
                    <option value="23">23hrs </option>
                    <option value="24">24hrs</option>
                </select>
                <!-- <input type="time" required name="pick_up_time"/>-->
            </div>
    
            <!--<div class="inputBox" daos="zoom-in" daos-delay="750">
                <span> Way point 1</span>
                <input type="text" placeholder="Do you have any stop?" id="id-google-address-c" name="google_address_c">
            </div>
            <div class="inputBox" daos="zoom-in" daos-delay="750">
                <span> Way point 2 </span>
                <input type="text" placeholder="Any other stops?" id="id-google-address-d" name="google_address_d">
            </div>-->

            <div class="inputBox d_add" daos="zoom-in" daos-delay="750">
                <span> Dropoff address </span>
                <input type="text" placeholder="destination" id="to" name="google_address_b"/>
            </div>
            <!-- <div class="inputBox d_add" daos="zoom-in" daos-delay="750">
                <span> Dropoff address </span>
                <input type="text" placeholder="destination" id="way_p" class="way_p" name="google_address_b"/>
            </div>
            <div class="inputBox d_add" daos="zoom-in" daos-delay="750">
                <span> Dropoff address </span>
                <input type="text" placeholder="destination" id="way_p" class="way_p" name="google_address_b"/>
            </div> -->
            <div class="inputBox air_l" daos="zoom-in" daos-delay="750">
                <span>Airline</span>
                <input type="text" name="airline" placeholder="Airline" />
            </div>
            <div class="inputBox fli_no" daos="zoom-in" daos-delay="750">
                <span>flight number</span>
                <input type="number" name="flight_number" placeholder="Flight number" />
            </div>

            <p class="p_btn"><a aria-disabled="true" onclick="calcRoute()"class=" other_form show_pt2 sub_btn"> proceed </a> </p>

        <div class="auto_form">

        </div>

            <p class="pt_2
            ">
                pick the type of car yoou want
            </p>

        <div class="gallery">
            <div class="box-container">
            <div class="home_box pt_2 box" daos="zoom-in-down" daos-delay="200">
                <img height="200px" width="200px" src="{% static 'passenger/images/gallery-1.jpg'%}" alt="">
                <span>$ <span>price for the car</span>  </span>
                <h3> name of the car </h3>
                <a href="/" class="pick btn"> Pick</a>
            </div>
            <div class="home_box pt_2 box" daos="zoom-in-down" daos-delay="200">
                <img height="200px" width="200px" src="{% static 'passenger/images/gallery-1.jpg'%}" alt="">
                <span>$ <span>price for the car</span>  </span>
                <h3> name of the car </h3>
                <a href="/" class="pick btn"> Pick</a>
            </div>
            <div class="home_box pt_2 box" daos="zoom-in-down" daos-delay="200">
                <img height="200px" width="200px" src="{% static 'passenger/images/gallery-1.jpg'%}" alt="">
                <span>$ <span>price for the car</span>  </span>
                <h3> name of the car </h3>
                <a href="/" class="pick btn"> Pick</a>
            </div>
            <div class="home_box pt_2 box" daos="zoom-in-down" daos-delay="200">
                <img height="200px" width="200px" src="{% static 'passenger/images/gallery-1.jpg'%}" alt="">
                <span>$ <span>price for the car</span>  </span>
                <h3> name of the car </h3>
                <a href="/" class="pick btn"> Pick</a>
            </div>
            <div class="home_box pt_2 box" daos="zoom-in-down" daos-delay="200">
                <img height="200px" width="200px" src="{% static 'passenger/images/gallery-1.jpg'%}" alt="">
                <span>$ <span>price for the car</span>  </span>
                <h3> name of the car </h3>
                <a href="/" class="pick btn"> Pick</a>
            </div>
            <div class="home_box pt_2 box" daos="zoom-in-down" daos-delay="200">
                <img height="200px" width="200px" src="{% static 'passenger/images/gallery-1.jpg'%}" alt="">
                <span>$ <span>price for the car</span>  </span>
                <h3> name of the car </h3>
                <a href="/" class="pick btn"> Pick</a>
            </div>
            <div class="home_box pt_2 box" daos="zoom-in-down" daos-delay="200">
                <img height="200px" width="200px" src="{% static 'passenger/images/gallery-1.jpg'%}" alt="">
                <span>$ <span>price for the car</span>  </span>
                <h3> name of the car </h3>
                <a href="/" class="pick btn"> Pick</a>
            </div>
            <div class="home_box pt_2 box" daos="zoom-in-down" daos-delay="200">
                <img height="200px" width="200px" src="{% static 'passenger/images/gallery-1.jpg'%}" alt="">
                <span>$ <span>price for the car</span>  </span>
                <h3> name of the car </h3>
                <a href="/" class="pick btn"> Pick</a>
            </div>


        </div>

        </div>
            <p class="p_btn"><a aria-disabled="true" class=" pt_2 show_pt3 sub_btn"> proceed </a></p>

            <div class="pt_3 inputBox" daos="zoom-in" daos-delay="300">
                <span>first name</span>
                <input type="hidden" name="" id="distance" placeholder="distance miles" readonly required />
            </div>
            <div class="pt_3 inputBox" daos="zoom-in" daos-delay="300">
                <span>first name</span>
                <input type="text" name="first_name" placeholder="first name" required />
            </div>
            <div class=" pt_3 inputBox" daos="zoom-in" daos-delay="600">
                <span>last name </span>
                <input type="text" name="second_name" placeholder="last name " required />
            </div>
            <div class="pt_3 inputBox" daos="zoom-in" daos-delay="600">
                <span>phone number </span>
                <input type="number" name="phone_number" placeholder="phone number" required />
            </div>
            <div class=" pt_3 inputBox" daos="zoom-in" daos-delay="750">
                <span> Email address  </span>
                <input type="email" placeholder="Your Email" id="" name="email" required/>
            </div>

            <p class="p_btn" id="output">
                
            </p>
            <a class="sub_btn"aria-disabled="true" onclick="calcRoute()"> refresh map</a>
            <div class="inputBox maps" id="maps_di" da-aos="zoom-in" da-aos-delay="750">
            </div>

            <input type="submit" value="check pricing" daos="zoom-in" daos-delay="900" id="btn" class="pt_3 sub_btn">



        <input type="hidden" class="geo" id="id-lat-a" value="">
        <input type="hidden" class="geo" id="id-long-a" value="">
        <input type="hidden" class="geo" id="id-lat-b" value="">
        <input type="hidden" class="geo" id="id-long-b" value="">
        <input type="hidden" class="geo" id="id-lat-c" value="">
        <input type="hidden" class="geo" id="id-long-c" value="">
        <input type="hidden" class="geo" id="id-lat-d" value="">
        <input type="hidden" class="geo" id="id-long-d" value="">

        
        
       
    </form>
</section>

<!-- booking section ends-->

<!-- about starts -->

<section class="about" id="about">
    <div class="video-container">
        <video src="static/Ainbo (2021) (NetNaija.com).mp4" muted autoplay loop class="video"></video>
    </div>
    <div class="content">
        <span>who we are?</span>
        <!--<h3>A smiling agent for you </h3>-->
        <h3>About DTS Lux Transport</h3>
        <p>
            DTS Lux Transport Is A Locally Owned, Operated Transportation Service In Austin, Texas. We Provide Exclusive Private Premier Black Car Services With Luxurious Vehicle Options To Give You The Ride That You Deserve
        </p>
        <a href="/privacy" class="btn"> read more</a>
    </div>
</section>

<!-- about ends -->
<!-- service starts-->

<section class="services" id="services">
    <div class="heading">
        <span> our services </span>
        <h1>cost effective</h1>
    </div>

    <div class="box-container">
        <div class="box" daos="zoom-in-up" daos-delay="150">
            <i class="fas fa-globe"></i>
            <h3> at your door step </h3>
            <p>Near On-Demand or well in advance, we provide service at over 100 airports and 5000+ cities across the US. From the east coast to the west coast </p>
        </div>
        <div class="box" daos="zoom-in-up" daos-delay="300">
            <!--<i class="fas fa-hiking"></i>-->
            <i class="fas fa-shield-virus"></i>
            <h3> Accountability </h3>
            <p>We take full responsability of your comfort and your experience with us.</p>
        </div>
        <div class="box" daos="zoom-in-up" daos-delay="450">
            <!--<i class="fas fa-utensils"></i>-->
            <i class="fas fa-heart-broken"></i>
            <h3>Safety First</h3>
            <p>We focus on safety and we make sure that you are always in good hands.</p>
        </div>
        <div class="box" daos="zoom-in-up" daos-delay="600">
            <i class="fas fa-clock"></i>
            <h3> We Value Time</h3>
            <p>We value your time and we show respect to your valuable schedule.</p>
        </div>
        <div class="box" daos="zoom-in-up" daos-delay="750">
            <i class="fas fa-wallet"></i>
            <h3> affordable price</h3>
            <p>You don’t have to break the wallet to have an extraordinary travel experience. No hidden fees and always the best deal.</p>
        </div>
        <div class="box" daos="zoom-in-up" daos-delay="900">
            <i class="fas fa-headset"></i>
            <h3> 24/7 support </h3>
            <p>you can get help and find answers to questions as soon as they come up—24/7 and in real-time</p>
        </div>
    </div>
</section>

<!-- service ends-->

    <!-- destination starts -->

    <section class="destination" id="destination">
        <div class="heading">
            <span> our destination </span>
            <h1>keep looking up</h1>
        </div>

        <div class="box-container">
            <div class="box" daos="flip-up" daos-delay="150">
                <div class="image">
                    <img src="{% static "passenger/images/featured-berlin-germany.jpg"%}" alt="" />
                </div>
                <div class="content">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed commodi laudantium necessitatibus distinctio.</p>
                    <a href="#">read more <i class="fas fa-angle-right"></i></a>
                </div>
            </div>
            <div class="box" daos="flip-up" daos-delay="300">
                <div class="image">
                    <img src="{% static "passenger/images/featured-fuvahmulah-maldives.jpg"%}" alt="" />
                </div>
                <div class="content">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed commodi laudantium necessitatibus distinctio.</p>
                    <a href="#">read more <i class="fas fa-angle-right"></i></a>
                </div>
            </div>
            <div class="box" daos="flip-up" daos-delay="450">
                <div class="image">
                    <img src="{% static "passenger/images/featured-khwaeng-wat-arun-thailand.jpg"%}" alt="" />
                </div>
                <div class="content">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed commodi laudantium necessitatibus distinctio.</p>
                    <a href="#">read more <i class="fas fa-angle-right"></i></a>
                </div>
            </div>
            <div class="box" daos="flip-up" daos-delay="600">
                <div class="image">
                    <img src="{% static "passenger/images/featured-north-bondi-australia.jpg"%}" alt="" />
                </div>
                <div class="content">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed commodi laudantium necessitatibus distinctio.</p>
                    <a href="#">read more <i class="fas fa-angle-right"></i></a>
                </div>
            </div>
            <div class="box" daos="flip-up" daos-delay="750">
                <div class="image">
                    <img src="{% static 'passenger/images/featured-reo-de-janeiro-brazil.jpg'%}" alt="" />
                </div>
                <div class="content">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed commodi laudantium necessitatibus distinctio.</p>
                    <a href="#">read more <i class="fas fa-angle-right"></i></a>
                </div>
            </div>
            <div class="box" daos="flip-up" daos-delay="900">
                <div class="image">
                    <img src="{% static 'passenger/images/featured-rome-italy.jpg'%}" alt="" />
                </div>
                <div class="content">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed commodi laudantium necessitatibus distinctio.</p>
                    <a href="#">read more <i class="fas fa-angle-right"></i></a>
                </div>
            </div>
            <div class="box" daos="flip-up" daos-delay="1050">
                <div class="image">
                    <img src="{% static 'passenger/images/facts-img.jpg'%}" alt="" />
                </div>
                <div class="content">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed commodi laudantium necessitatibus distinctio.</p>
                    <a href="#">read more <i class="fas fa-angle-right"></i></a>
                </div>
            </div>
            <div class="box" daos="flip-up" daos-delay="1200">
                <div class="image">
                    <img src="{% static 'passenger/images/test-1.jpg'%}" alt="" />
                </div>
                <div class="content">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed commodi laudantium necessitatibus distinctio.</p>
                    <a href="#">read more <i class="fas fa-angle-right"></i></a>
                </div>
            </div>
        </div>

    </section>

    <!-- destination ends -->

    <!-- gallery starts -->

    <section class="gallery" id="gallery">
        <div class="heading">
            <span> our gallery </span>
            <h1>memories lasts forever </h1>
        </div>

        <div class="box-container">
            <div class="box" daos="zoom-in-down" daos-delay="200">
                <img src="{% static 'passenger/images/gallery-1.jpg'%}" alt="">
                <span> travel spot</span>
                <h3> green land</h3>
            </div>
            <div class="box" daos="zoom-in-down" daos-delay="400">
                <img src="{% static 'passenger/images/gallery-2.jpg'%}"  alt="">
                <span> travel spot</span>
                <h3> ice land</h3>
            </div>
            <div class="box" daos="zoom-in-down" daos-delay="600">
                <img src="{% static 'passenger/images/gallery-3.jpg'%}" alt="">
                <span> travel spot</span>
                <h3> thi land</h3>
            </div>
            <div class="box" daos="zoom-in-down" daos-delay="800">
                <img src="{% static 'passenger/images/gallery-4.jpg'%}"  alt="">
                <span> travel spot</span>
                <h3> misdive</h3>
            </div>
            <div class="box" daos="zoom-in-down" daos-delay="1000">
                <img src="{% static 'passenger/images/gallery-5.jpg'%}"  alt="">
                <span> travel spot</span>
                <h3> france </h3>
            </div>
            <div class="box" daos="zoom-in-down" daos-delay="1200">
                <img src="{% static 'passenger/images/gallery-6.jpg'%}"  alt="">
                <span> travel spot</span>
                <h3> england</h3>
            </div>
            <div class="box" daos="zoom-in-down" daos-delay="1400">
                <img src="{% static 'passenger/images/gallery-7.jpg'%}"  alt="">
                <span> travel spot</span>
                <h3> london</h3>
            </div>
            <div class="box" daos="zoom-in-down" daos-delay="1400">
                <img src="{% static 'passenger/images/gallery-8.jpg'%}"  alt="">
                <span> travel spot</span>
                <h3> dubai</h3>
            </div>
            <div class="box" daos="zoom-in-down" daos-delay="1400">
                <img src="{% static 'passenger/images/gallery-8.jpg'%}"  alt="">
                <span> travel spot</span>
                <h3> dubai</h3>
            </div>
        </div>

    </section>

<!-- gallery ends-->

    <!-- reviews page-->

    <section class="reviews" id="reviews">
        <div class="box-container">
            <div class="box">
                <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque numquam qui, delectus incidunt consectetur illum.</p>
                <div class="user">
                    <img src="{% static 'passenger/images/blog-4.jpg'%}" alt="">
                    <div class="info">
                        <h3>Ezekiel Obiajulu</h3>
                        <span>designer</span>
                    </div>
                </div>
            </div>
            <div class="box">
                <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque numquam qui, delectus incidunt consectetur illum.</p>
                <div class="user">
                    <img src="{% static 'passenger/images/blog-1.jpg'%}" alt="">
                    <div class="info">
                        <h3>Ezekiel Obiajulu</h3>
                        <span>designer</span>
                    </div>
                </div>
            </div>
            <div class="box">
                <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque numquam qui, delectus incidunt consectetur illum.</p>
                <div class="user">
                    <img src="{% static 'passenger/images/blog-2.jpg'%}" alt="">
                    <div class="info">
                        <h3>Ezekiel Obiajulu</h3>
                        <span>designer</span>
                    </div>
                </div>
            </div>
            <div class="box">
                <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque numquam qui, delectus incidunt consectetur illum.</p>
                <div class="user">
                    <img src="{% static 'passenger/images/blog-3.jpg'%}" alt="">
                    <div class="info">
                        <h3>Ezekiel Obiajulu</h3>
                        <span>designer</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="content">
            <span>testimonials</span>
            <h3>good news from our clients</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, dolorum voluptates facere doloremque alias illo explicabo perspiciatis quasi expedita cum! Eum laudantium magni atque obcaecati!</p>
        </div>


    </section>

    <!-- review stop-->

    <!-- banner img section -->

    <div class="banner">
        <div class="content">
            <span>start your adventure </span>
            <h3> let's explore the world with us </h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum sit vero similique dolores perspiciatis quam!</p>
            <a href="#book-form" class="btn"> book now</a>
        </div>
    </div>

    <!-- banner img ends -->

        <!-- blog section start -->

        <section class="blogs" id="blogs">
            <div class="heading">
                <span> blogs and posts </span>
                <h1>clients experience in words </h1>
            </div>
    
            <div class="box-container">
                <div class="box">
                    <div class="image">
                        <img src="{% static 'passenger/images/blog-1.jpg'%}" alt="">
                    </div>
                    <div class="content">
                        <a href="#" class="link">one mile at a time </a>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates facere dicta consectetur quasi quae? Id tenetur quis vitae quod fugit?</p>
                        <div class="icon">
                            <a href="#"><i class="fas fa-clock"></i> 28th feb 2019</a>
                            <a href="#"><i class="fas fa-user"></i> by Admin</a>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="image">
                        <img src="{% static 'passenger/images/blog-2.jpg'%}" alt="">
                    </div>
                    <div class="content">
                        <a href="#" class="link">local adventure</a>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates facere dicta consectetur quasi quae? Id tenetur quis vitae quod fugit?</p>
                        <div class="icon">
                            <a href="#"><i class="fas fa-clock"></i> 28th feb 2019</a>
                            <a href="#"><i class="fas fa-user"></i> by Admin</a>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="image">
                        <img src="{% static 'passenger/images/blog-3.jpg'%}" alt="">
                    </div>
                    <div class="content">
                        <a href="#" class="link">first abroad</a>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates facere dicta consectetur quasi quae? Id tenetur quis vitae quod fugit?</p>
                        <div class="icon">
                            <a href="#"><i class="fas fa-clock"></i> 28th feb 2019</a>
                            <a href="#"><i class="fas fa-user"></i> by Admin</a>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="image">
                        <img src="{% static 'passenger/images/blog-4.jpg'%}" alt="">
                    </div>
                    <div class="content">
                        <a href="#" class="link">one mile at a time </a>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates facere dicta consectetur quasi quae? Id tenetur quis vitae quod fugit?</p>
                        <div class="icon">
                            <a href="#"><i class="fas fa-clock"></i> 28th feb 2019</a>
                            <a href="#"><i class="fas fa-user"></i> by Admin</a>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="image">
                        <img src="{% static 'passenger/images/blog-5.jpg'%}" alt="">
                    </div>
                    <div class="content">
                        <a href="#" class="link">one mile at a time </a>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates facere dicta consectetur quasi quae? Id tenetur quis vitae quod fugit?</p>
                        <div class="icon">
                            <a href="#"><i class="fas fa-clock"></i> 28th feb 2019</a>
                            <a href="#"><i class="fas fa-user"></i> by Admin</a>
                        </div>
                    </div>
                </div>
            </div>
    
        </section>
    
        <!-- blog scetion ends -->
{% endblock %}

{% block script_three %}


    <script type="text/javascript">

      var google_api_key = "{{google_api_key|safe}}";
      var base_country = "{{base_country|safe}}";

    </script>

  <script src="{% static 'inde--x.js' %}"></script>
  
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD4AxDzaud9qeLkEnrLCRJwrwZjeK6uA9E&libraries=places"></script>
  
  <script src="{% static 'maps.js' %}"></script>


{% endblock %}