{% extends 'home.html'%}
{% load static%}

{% block home_form_one %}
select car
{% endblock%}

{% block content %}

<section class="gallery" id="gallery">
    <div class="heading">
        <span> Vehicle Type</span>
        <h1>Choose Your Vehicle Type </h1>
    </div>

    <style>
        .block {
            display: block;
        }
    </style>



    {% if c%}

    <form action='.' method="POST">
        {% csrf_token%}
        <div class="box-container">
            {% for c in c %}
            <div class="box" daos="zoom-in-down" daos-delay="200" style="position: relative;">
                <a href='{{c.car_image.url}}'> <img src="{{c.car_image.url}}" alt="" style="height: 240px;"> </a>
                <span> luggages {{c.car_luggage_space}}</span> : <span>seats {{c.car_seats}}</span>
                <span class="block">{{c.car_name}}</span>
                <span class='block' >{{c.car_model}}</span>
                <h3>${{c.price}}</h3>
                <input type='radio' name="car_id" value='{{c.id}}' class="radio" style="position: absolute;bottom: 20px;right: 20px;height: 15px;width: 15px;" required>
            </div>
            {% endfor %}
        </div>
        <input type="submit" value='proceed' class="btn" />
    </form>
    {%else%}
    <h1> No car is available for booking </h1>
    {% endif%}

</section>

{% endblock %}