{% extends 'home.html'%}
{% load static %}

{% block home_form_one %}
Enter your Address
{% endblock %}

{% block home_form_three %} {% endblock %}
{% block css_one%}

<style>
    .pick {
        position: absolute;
        bottom: 0;
        right: 0;
    }
</style>
<style>
	.gallery .box-container .box {
		height: 500px;
	}
	.gallery .box-container .box img  {
		height: 500px;
	}
	.boxs p {
		    font-size: 1.5rem;
    font-weight: 700;
	}
	.boxs span {
		    font-size: 3rem;
    font-weight: bolder;
	}
	.boxs h3 {
		    font-size: 3rem;
	}
	.body {
		margin-top: 3rem;
	}
</style>

{% endblock %}
{% block css_two %}
<link rel='stylesheet' href="{% static 'user_profie.css'%}"/>

{% endblock%}

{% block content %}
<style>
    select {
        height: 45px;
        width: 100%;
        outline: none;
        font-size: 16px;
        border-radius: 5px;
        padding-left: 15px;
        border: 1px solid #ccc;
        border-bottom-width: 2px;
        transition: all 0.3s ease;
    }

    .body {
        background: #eee;
    }
    @media(max-width: 950px ){
        .body {
            height: auto;
            display: block;
        }
    }
</style>

<style>
    /* Add a transition to the input border */
    input,
    select {
        border: 2px solid #ccc;
        transition: border 0.3s ease-in-out;
    }

    /* Add a keyframe animation for the bouncing effect */
    @keyframes bounce {

        0%,
        100% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(-10px);
        }
    }

    /* Apply the bouncing animation to the required alert */
    input:required:invalid,
    select:required:invalid {
        border-color: #c89f6b;
        background-color: #ffeeee;
        outline: none;
        animation: bounce 0.5s;
    }

    /* Add a custom tooltip message to the required alert */
    input:required:focus:invalid+.tooltip,
    select:required:focus:invalid+.tooltip {
        opacity: 1;
        transform: translateY(-10px);
    }

    .tooltip {
        position: absolute;
        top: -30px;
        left: 50%;
        transform: translateX(-50%);
        background-color: #ffaaaa;
        color: #fff;
        padding: 5px;
        border-radius: 5px;
        opacity: 0;
        border: 1px dotted #c89f6b;
        transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    }

    /* Remove the bouncing animation after it's completed */
    input:required:invalid:focus {
        animation: none;
    }

    /* Add a transition to the input border */
    input,
    select {
        border: 2px solid #ccc;
        transition: border 0.3s ease-in-out;
    }

    /* Add a keyframe animation for the shake effect */
    @keyframes shake {
        0% {
            transform: translateX(0);
        }

        10% {
            transform: translateX(8px);
        }

        20% {
            transform: translateX(-8px);
        }

        30% {
            transform: translateX(8px);
        }

        40% {
            transform: translateX(-8px);
        }

        50% {
            transform: translateX(8px);
        }

        60% {
            transform: translateX(-8px);
        }

        70% {
            transform: translateX(8px);
        }

        80% {
            transform: translateX(-8px);
        }

        90% {
            transform: translateX(8px);
        }

        100% {
            transform: translateX(0);
        }
    }

    /* Apply the shake animation to the required alert */
    input:required:invalid,
    select:required:invalid {
        border-color: #c89f6b;
        background-color: #ffeeee;
        outline: none;
        animation: shake 0.5s;
    }

    /* Remove the shake animation after it's completed */
    input:required:invalid:focus,
    select:required:invalid:focus {
        animation: none;
    }

    /* Add a transition to the input label */
    label {
        transition: color 0.3s ease-in-out;
    }

    /* Add a keyframe animation for the label color change */
    @keyframes label-color {
        0% {
            color: #333;
        }

        50% {
            color: #f06;
        }

        100% {
            color: #333;
        }
    }

    /* Apply the label color animation on input focus */
    input:focus+label,
    select:focus+label {
        animation: label-color 0.5s;
    }
</style>


<section class="book-form" id="book-form">
    <!-- add reviews as class when you are putting .box-container -->
    {% if messages %}
    {% for message in messages %}
    <h3>{{message}}</h3>
    {% endfor %}
    {%endif%}
    <h4>
        proceed Book a trip or request a quote by filling out the form below.
    </h4>











    <div class="body">
        <div class="body_container">
          <div class="title">Booking Details </div>
          <div class="content" id="payment-form">
            {% if books_p.service_details == 'Airport_Dropoff' %}
            <form action="." enctype="multipart/form-data" method="POST" id="home_form_add">
  
              {% csrf_token%}
              <div class="user-details">
                <div class="input-box">
                  <span class="details"> Pick Up address</span>
                  <input type="text" class="form-control" value="" placeholder="Your current location" id="from" name='pick_up_address' required>
                </div>
                <div class="input-box">
                  <span class="details">drop off Airport</span>
                  <input type="text" class="form-control" placeholder="drop off Airport" id="" name="dropoff_airport" required>
                </div>
                <div class="input-box">
                  <span class="details">Airline</span>
                  <input type="text" class="form-control" required name="airline" placeholder="Airline">
                </div>
  
                <div class="input-box">
                  <span class="details">flight number </span>
                  <input type="text" oninput="" required class="form-control" name="flight_number" placeholder="Flight number"  />
                </div>
                <!--<div class="input-box">
                  <span class="details">Distance</span>
                  <input type="text" class="form-control" name="distance" id="distance" placeholder="distance miles" readonly required />
                </div>-->
                

                <p class="p_btn" id="output"></p>
              </div>
              <button id="submit" class="sub_btn">Proceed </button>
            </form>
            {% elif books_p.service_details == 'Airport_pickup' %}
            <form action="." enctype="multipart/form-data" method="POST" id="home_form_add">
                
  
                {% csrf_token%}
                <div class="user-details">
                  <div class="input-box">
                    <span class="details">Pickup Airport</span>
                    <input type="text" class="form-control" id="" placeholder="Pick up Airport" id="" required name="pickup_airport" />
                  </div>
                  
                  <div class="input-box">
                    <span class="details">Airline</span>
                    <input type="text" class="form-control" required name="airline" placeholder="Airline">
                  </div>
    
                  <div class="input-box">
                    <span class="details">flight number </span>
                    <input type="text" oninput="" required class="form-control" name="flight_number" placeholder="Flight number"  />
                  </div>
                  <div class="input-box">
                    <span class="details">Dropoff address </span>
                    <input type="text" class="form-control"  id="to" required name="google_address_b" placeholder="destination" />
                  </div>
                  <!--<div class="input-box">
                    <span class="details">Distance</span>
                    <input type="text" class="form-control" name="distance" id="distance" placeholder="distance miles" readonly required />
                  </div>-->
                  
  
                  <p class="p_btn" id="output"></p>
                </div>
                <button id="submit" class="sub_btn">Proceed </button>
              </form>

            {% elif books_p.service_details == 'point_to_point' %}
            <form action="." enctype="multipart/form-data" method="POST" id=" addd home_form_add">
  
                {% csrf_token%}
                <div class="user-details" oninput="calcRoute()" >
                  <div class="input-box">
                    <span class="details"> Pick Up address</span>
                    <input type="text" class="form-control" value="" placeholder="Your current location" id="from" name='pick_up_address' required>
                  </div>
                  
                  <div class="input-box">
                    <span class="details">Dropoff address </span>
                    <input type="text" class="form-control"  id="to" required name="google_address_b" placeholder="destination" />
                  </div>
                  <div class="input-box">
                    <span class="details">Distance</span>
                    <input type="text" class="form-control" name="distance" required id="distance" placeholder="distance miles" readonly required />
                  </div>
                  
  
                  <p class="p_btn" id="output"></p>
                </div>
                <button id="submit" class="sub_btn">Proceed </button>
              </form>
            {%elif books_p.service_details == 'hourly' %}
            <form action="." enctype="multipart/form-data" method="POST" id="addd home_form_add">
  
                {% csrf_token%}
                <div class="user-details">
                  <div class="input-box">
                    <span class="details"> Pick Up address</span>
                    <input type="text" class="form-control" value="" placeholder="Your current location" id="from" name='pick_up_address' required>
                  </div>
                  <div class="input-box" daos="zoom-in" daos-delay="450">
                      <span class="details">hours </span>
                      <select id="" class='form-control' required name="work_hour">
                          <option disabled selected value='0'> -- select working &#40;hours&#41; -- </option>
                          <option value="1"> 1hr</option>
                          <option value="2"> 2hrs</option>
                          <option value="3"> 3hrs</option>
                          <option value="4"> 4hrs</option>
                          <option value="5"> 5hrs</option>
                          <option value="6"> 6hrs</option>
                          <option value="7"> 7hrs</option>
                          <option value="8"> 8hrs</option>
                          <option value="9"> 9hrs</option>
                          <option value="10"> 10hrs</option>
                          <option value="11">11hrs</option>
                          <option value="12">12hrs</option>
                          <option value="13">13hrs</option>
                          <option value="14"> 14hrs</option>
                          <option value="15"> 15hrs</option>
                          <option value="16"> 16hrs </option>
                          <option value="17"> 17hrs</option>
                          <option value="18"> 18hrs</option>
                          <option value="19"> 19hrs</option>
                          <option value="20"> 20hrs</option>
                          <option value="21"> 21hrs</option>
                          <option value="22"> 22hrs</option>
                          <option value="23">23hrs </option>
                          <option value="24">24hrs</option>
                      </select>
                      <!-- <input type="time" required name="pick_up_time"/>-->
                  </div>
                  <div class="input-box">
                    <span class="details">Dropoff address </span>
                    <input type="text" class="form-control"  id="to" required name="google_address_b" placeholder="destination" />
                  </div>
                  <div class="input-box">
                    <span class="details">Distance</span>
                    <input type="text" class="form-control" name="distance" required id="distance" placeholder="distance miles" readonly required />
                  </div>
                  
  
                  <p class="p_btn" id="output"></p>
                </div>
                <button id="submit" class="sub_btn">Proceed </button>
              </form>
            {% elif books_p.service_details == 'Special_occassion' %}
            <form action="." enctype="multipart/form-data" method="POST" id="addd home_form_add">
  
                {% csrf_token%}
                <div class="user-details">
                  <div class="input-box">
                    <span class="details"> Pick Up address</span>
                    <input type="text" class="form-control" value="" placeholder="Your current location" id="from" name='pick_up_address' required>
                  </div>
                  <div class="input-box" daos="zoom-in" daos-delay="450">
                      <span class="details">hours </span>
                      <select id="" class='form-control' required name="work_hour">
                          <option disabled selected value='0'> -- select working &#40;hours&#41; -- </option>
                          <option value="1"> 1hr</option>
                          <option value="2"> 2hrs</option>
                          <option value="3"> 3hrs</option>
                          <option value="4"> 4hrs</option>
                          <option value="5"> 5hrs</option>
                          <option value="6"> 6hrs</option>
                          <option value="7"> 7hrs</option>
                          <option value="8"> 8hrs</option>
                          <option value="9"> 9hrs</option>
                          <option value="10"> 10hrs</option>
                          <option value="11">11hrs</option>
                          <option value="12">12hrs</option>
                          <option value="13">13hrs</option>
                          <option value="14"> 14hrs</option>
                          <option value="15"> 15hrs</option>
                          <option value="16"> 16hrs </option>
                          <option value="17"> 17hrs</option>
                          <option value="18"> 18hrs</option>
                          <option value="19"> 19hrs</option>
                          <option value="20"> 20hrs</option>
                          <option value="21"> 21hrs</option>
                          <option value="22"> 22hrs</option>
                          <option value="23">23hrs </option>
                          <option value="24">24hrs</option>
                      </select>
                      <!-- <input type="time" required name="pick_up_time"/>-->
                  </div>
                  <div class="input-box">
                    <span class="details">Dropoff address </span>
                    <input type="text" class="form-control"  id="to" required name="google_address_b" placeholder="destination" />
                  </div>
                  <div class="input-box">
                    <span class="details">Distance</span>
                    <input type="text" class="form-control" name="distance" required id="distance" placeholder="distance miles" readonly required />
                  </div>
                  
  
                  <p class="p_btn" id="output"></p>
                </div>
                <button id="submit" class="sub_btn">Proceed </button>
              </form>
            {% endif %}
          </div>
        </div>
      
        <div class="maps" id="maps_di" da-aos="zoom-in" da-aos-delay="750">
        </div>
      
    </div>















</section>




{% endblock %}


{% block script_three %}


    <script type="text/javascript">

      var google_api_key = "{{google_api_key|safe}}";
      var base_country = "{{base_country|safe}}";

    </script>

  <script src="{% static 'inde--x.js' %}"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD4AxDzaud9qeLkEnrLCRJwrwZjeK6uA9E&libraries=places"></script>
  
  <script src="{% static 'maps.js' %}"></script>

  {% if  books_p.service_details == 'Special_occassion' or books_p.service_details == 'hourly' or books_p.service_details == 'point_to_point' %}
  

  <script>
    setInterval(calcRoute,5000);
  </script>

     {% endif %}


  <script>
    var show_search = $('.map_address');
    var autocomplete2 = new google.maps.places.Autocomplete(show_search, {componentRestrictions: {'country': ['US'.toLowerCase()]}});

//    var book_form = $('#addd');
//
//    book_form.addEventListener('submit', function(ev) {
//        toastr.options = {
//            "closeButton": true,
//            'positionClass': 'toast-top-right',
//            'progressBar': true,
//          'newestOnTop': true,
//          'timeOut': 15000,
//        }
//
//
//        ev.preventDefault();
//
//        const dis_t = document.getElementById("distance").value;
//  
//            if (dis_t == '') { 
//                // Do something with the new date and tim
//                toastr.error("calculating distance...")
//                ev.preventDefault();
//            } else {
//                // The selected date is not today or the selected time is within one hour from now
//                toastr.sucess("let's proceed")
//                ev.preventDefault();
//            }
//  
//      })
</script>









{% endblock %}





















