<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Travel</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    
        <link rel="stylesheet" href="static/css/style.css"/>
        <link rel="stylesheet" href="static/css/services.css" />
        <!--<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet"> -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css" />
        <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
    </head>
<body>
    <!-- header sction -->  
    <header class="header">
        <div id="menu-btn" class="fas fa-bars"></div>
        <a href="http://" data-aos="zoom-in-left" data-aos-delay="150" class="logo">
            <span>D</span>ts <span>L</span>ux <span>trans</span>port
        </a>
        <nav class="navbar">
            <a href="#home" data-aos="zoom-in-left" data-aos-delay="150" >Home</a>
            <a href="#about" data-aos="zoom-in-left" data-aos-delay="300">About us</a>
            <a href="#services" data-aos="zoom-in-left" data-aos-delay="450">Services</a>
            <a href="#destination" data-aos="zoom-in-left" data-aos-delay="600">destination</a>
            <a href="#gallery" data-aos="zoom-in-left" data-aos-delay="750">gallery</a>
            <a href="#blogs" data-aos="zoom-in-left" data-aos-delay="900">blog</a>
        </nav>

        <a href="#book-form" class="btn" data-aos="zoom-in-left" data-aos-delay="1050"> book now</a>
    </header>
    <!-- header sction ends  -->

    <!-- home section start -->

    <section class="home" id="home">
        <div class="content">
            <span data-aos="fade-up" data-aos-delay="150"> Let's start</span>
            <h3 data-aos="fade-up" data-aos-delay="300"><!--Schedule a Ride -->Transportation services </h3>
            <p data-aos="fade-up" data-aos-delay="450"> Airport Shuttle and Transportation Services</p>
            <a href="#" class="btn" data-aos="fade-up" data-aos-delay="600"> book now</a>
        </div>
    </section>

    <!-- home sextion ends -->

    <!-- blog section start -->

    <section class="blogs" id="blog">
        <div class="heading">
            <span>Book A Ride</span>
            <h1>Choose your prefered service from the list below.</h1>
        </div>

        <div class="box-container">
            <div class="box">
                <div class="content">
                    <h3 class="link">Airport Ride</h3>
                    <p><i class="fas fa-arrow-alt-circle-right"></i> Professional private black car services.</p>
                    <p><i class="fas fa-arrow-alt-circle-right"></i> Instant pricing rates before booking.</p>
                    <p><i class="fas fa-arrow-alt-circle-right"></i> Ride flexibility with flight change notification.</p>
                    <p><i class="fas fa-arrow-alt-circle-right"></i> Reliable and trusted rides to and from the airport.</p>
                    <p><i class="fas fa-asterisk"></i> Change or Cancel for free up to or until one hour prior to your pickup.</p>
                    <div class="icon">
                        <a href="#" class="btn">book now</a>
                    </div>
                </div>
            </div>
            <!--<div class="box">
                <div class="image">
                    <img src="static/images/blog-2.jpg" alt="">
                </div>
                <div class="content">
                    <a href="#" class="link">local adventure</a>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates facere dicta consectetur quasi quae? Id tenetur quis vitae quod fugit?</p>
                    <div class="icon">
                        <a href="#"><i class="fas fa-clock"></i> 28th feb 2019</a>
                        <a href="#"><i class="fas fa-user"></i> by Admin</a>
                    </div>
                </div>
            </div>-->
            <div class="box">
                <div class="content">
                    <h3 class="link">Exclusive Private Rides</h3>
                    <p><i class="fas fa-arrow-alt-circle-right"></i> Welcome and thank you for your interest. Explore the city at your own pace, on your terms. </p>
                    <p><i class="fas fa-arrow-alt-circle-right"></i>We maintain a fleet of sophisticated, well-maintained vehicles that cater to the needs of Texas’s busybodies.</p>
                    <p><i class="fas fa-arrow-alt-circle-right"></i>Our exclusive private transport services enable you to navigate the Texas’s storied streets worry-free.</p>
                    <div class="icon">
                        <a href="#" class="btn">book now</a>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="content">
                    <h3 class="link">Airport Ride</h3>
                    <p><i class="fas fa-arrow-alt-circle-right"></i>Diversity Transportation provides chauffeur driven transportation for special events day or night.</p>
                    <p><i class="fas fa-arrow-alt-circle-right"></i>Travel in luxury, arrive in style in one of our luxury chauffeurs driven cars.</p>
                    <p><i class="fas fa-arrow-alt-circle-right"></i>Why not hire a chauffeur driven car for a special evening event like the Theater, Dates, Opera, and Ballet?</p>
                    <div class="icon">
                        <a href="#" class="btn">book now</a>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="content">
                    <h3 class="link">Courier Services</h3>
                    <p><i class="fas fa-arrow-alt-circle-right"></i>Provide service reliable pickup and delivering for your time sensitive packages..</p>
                    <p><i class="fas fa-arrow-alt-circle-right"></i>Trackable digital chain of custody.</p>
                    <p><i class="fas fa-arrow-alt-circle-right"></i>Convenient fast Mobile Notary (50% deposit formalize appointment).</p>
                    <p><i class="fas fa-arrow-alt-circle-right"></i>HIPAA compliant medical delivery services.t.</p>
                    <div class="icon">
                        <a href="#" class="btn">book now</a>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <!-- blog scetion ends -->

    <section class="gallery" id="gallercy">
        <div class="heading">
            <span>LEARN ABOUT</span>
            <h1>OUR FLEET</h1>
            <span class="s-gallery">CHEVROLET SUBURBAN</span>
        </div>

        <div class="box-container">
            <div class="box">
                <img src="static/images/gallery-1.jpg" alt="">
            </div>
            <div class="box">
                <img src="static/images/gallery-2.jpg" alt="">
            </div>
            <div class="box">
                <img src="static/images/gallery-3.jpg" alt="">
            </div>
            <div class="box">
                <img src="static/images/gallery-4.jpg" alt="">
            </div>
            <div class="box">
                <img src="static/images/gallery-5.jpg" alt="">
            </div>
            <div class="box">
                <img src="static/images/gallery-6.jpg" alt="">
            </div>
            <div class="box">
                <img src="static/images/gallery-7.jpg" alt="">
            </div>
            <div class="box">
                <img src="static/images/gallery-8.jpg" alt="">
            </div>
            <div class="box">
                <img src="static/images/gallery-8.jpg" alt="">
            </div>
        </div>

    </section>

    
    <!-- footer starts -->

    <section class="footer">
        <div class="box-container">
            <div class="box">
                <a href="#" class="logo"><span>D</span>ts <span>L</span>ux <span>trans</span>port</a>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos officiis, ipsum rem maxime accusantium tempora iusto nemo alias ut nihil?</p>
                <div class="share">
                    <a href="#" class="fab fa-facebook-f"></a>
                    <a href="#" class="fab fa-twitter"></a>
                    <a href="#" class="fab fa-instagram"></a>
                    <a href="#" class="fab fa-linkedin"></a>
                    <a href="#" class="fab fa-whatsapp"></a>
                </div>
            </div>

            <div class="box">
                <h3>quick links</h3>
                <a href="#home" class="link"><i class="fas fa-arrow-right"></i>home</a>
                <a href="#about" class="link"><i class="fas fa-arrow-right"></i>about us</a>
                <a href="#services" class="link"><i class="fas fa-arrow-right"></i>services</a>
                <a href="#destination" class="link"><i class="fas fa-arrow-right"></i>destination</a>
                <a href="#gallery" class="link"><i class="fas fa-arrow-right"></i>gallery</a>
                <a href="#blogs" class="link"><i class="fas fa-arrow-right"></i>blog</a>
            </div>

            <div class="box">
                <h3>contact info</h3>
                <p><i class="fas fa-map"></i> Benin</p>
                <p><i class="fas fa-phone-alt"></i>+22958522059</p>
                <p><i class="fas fa-envelope"></i>Ezekielizuchi@gmail.com</p>
                <p><i class="fas fa-clock"></i> 8:00am - 5:00pm</p>

            </div>

            <div class="box">
                <h3>newsletter</h3>
                <p>subscribe for latest update</p>
                <form action="">
                    <input type="email" name="" id="" placeholder="enter your email..."class="email">
                    <input type="submit" value="subscribe" class="btn">
                </form>
            </div>
        </div>
    </section>

    <div class="credit">
        coded by <span>eazydev</span> | all rights reserved &copy;2023
    </div>

    <!-- footer ends -->
    <script src="/static/js/script.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script> 
    <script>
        AOS.init({
            duration: 800,
            offset: 150,
        });
    </script>
</body>
</html>