{% extends 'home.html'%}
{% load static %}

{% block content %}

<section class="book-form reviews" id="book-form">
    {% if messages %}
        {% for message in messages %}
            <h3>{{message}}</h3>
        {% endfor %}
    {%endif%}
    <h4>
        Book a trip or request a quote by filling out the form below.
    </h4>
    <!--<div class="box-container">
        
    </div>
    <div class="content">
        <div class="map-container" style="width: 100%;height: 100%;">

            <div id="map-route" style="width: 100%;height: 100%;"></div>
         
         
         </div>
    </div>-->
    <form action="/" id="home_form_add" method='POST'>
        {% csrf_token %}
        <div class="inputBox" data-aos="zoom-in" data-aos-delay="300">
            <span>first name</span>
            <input type="text" name="" placeholder="first name" />
        </div>
        <div class="inputBox" data-aos="zoom-in" data-aos-delay="600">
            <span>last name </span>
            <input type="text" name="" placeholder="last name "/>
        </div>
        <div class="inputBox" data-aos="zoom-in" data-aos-delay="600">
            <span>phone number </span>
            <input type="number" name="" placeholder="phone number"/>
        </div>
        <div class="inputBox" data-aos="zoom-in" data-aos-delay="750">
            <span> Email address  </span>
            <input type="email" placeholder="Your Email" id="" name="" />
        </div>
        <input type="submit" value="Done" data-aos="zoom-in" data-aos-delay="900" id="btn" class="btn">
    </form>
</section>

{% endblock %}